<section id="product-filter" class="selection-box container">


    {#    #}{# БЛОК С ПАРАМЕТРАМИ МОДЕЛИ #}

    {#    {% set CarTireFieldType = constant('BaksDev\\Field\\Tire\\CarType\\Type\\TireCarTypeField::TYPE') %} #}
    {#    {% set SeasonTireFieldType = constant('BaksDev\\Field\\Tire\\Season\\Type\\TireSeasonField::TYPE') %} #}
    {#    {% set StudsTireFieldType = constant('BaksDev\\Field\\Tire\\Studs\\Type\\TireStudsField::TYPE') %} #}

    {#    {% set productFields = filter.children|filter((v, k) => k != 'filter' and k != '_token' and v.rendered == false) %} #}
    {#    {% set seasonFields = productFields|filter(v => SeasonTireFieldType in  v.vars.block_prefixes or StudsTireFieldType in v.vars.block_prefixes) %} #}
    {#    {% set carFields = productFields|filter(v => CarTireFieldType in  v.vars.block_prefixes) %} #}

    {#    <div class="d-flex flex-column gap-4 border rounded-4 p-3 mb-5"> #}

    {#        {{ form_start(filter) }} #}

    {#        {% if filter.offer is defined %} #}
    {#            <div> #}
    {#                {{ form_label(filter.offer, 'Диаметр:', #}
    {#                    {'label_attr': { #}
    {#                        'class': 'form-label ps-2 fw-bold'} #}
    {#                    }) }} #}

    {#                {{ form_widget(filter.offer, { #}
    {#                    attr: { class: 'form-select rounded-5 fs-14 mb-1 text-secondary mb-3', 'data-select' : 'select2', 'aria-label' : "Значение диаметра" } }) }} #}
    {#            </div> #}
    {#        {% endif %} #}

    {#        {% if filter.variation is defined %} #}
    {#            <div> #}
    {#                {{ form_label(filter.variation, 'Ширина:', #}
    {#                    {'label_attr': { #}
    {#                        'class': 'form-label ps-2 fw-bold'} #}
    {#                    }) }} #}

    {#                {{ form_widget(filter.variation, { #}
    {#                    attr: { class: 'form-select rounded-5 fs-14 mb-1 text-secondary mb-3', 'data-select' : 'select2', 'aria-label' : "Значение ширины" } }) }} #}
    {#            </div> #}
    {#        {% endif %} #}

    {#        {% if filter.modification is defined %} #}
    {#            <div> #}
    {#                {{ form_label(filter.modification, 'Профиль:', #}
    {#                    {'label_attr': { #}
    {#                        'class': 'form-label ps-2 fw-bold'} #}
    {#                    }) }} #}

    {#                {{ form_widget(filter.modification, { #}
    {#                    attr: { class: 'form-select rounded-5 fs-14 mb-1 text-secondary mb-3', 'data-select' : 'select2', 'aria-label' : "Значение профиля" } }) }} #}
    {#            </div> #}
    {#        {% endif %} #}

    {#        <div> #}

    {#            #}{# БЛОК КНОПОК - Сезонность и шипы #}
    {#            <div class="d-flex align-items-center justify-content-between w-50 mt-3"> #}
    {#                {% for field in seasonFields %} #}

    {#                    #}{# Множественный выбор #}
    {#                    {% for button in field %} #}

    {#                        {% if loop.index == 1 %} #}
    {#                            {% set labelClass = 'btn-all text-decoration-underline m-0 px-2 fw-medium rounded-3' %} #}
    {#                        {% else %} #}
    {#                            {% set labelClass = 'd-flex btn p-1' %} #}
    {#                        {% endif %} #}

    {#                        <input id="{{ button.vars.id }}" #}
    {#                               name="{{ field_name(button) }}" #}
    {#                               value="{{ field_value(button) }}" #}
    {#                                {{ field_value(button) is empty ? 'checked="checked"' : '' }} #}
    {#                               class="btn-check" #}
    {#                               type="radio"> #}

    {#                        <label class="{{ labelClass }}" #}
    {#                               for="{{ button.vars.id }}" #}
    {#                               style="font-size: 14px;"> #}

    {#                            {% if field_value(button) is empty %} #}
    {#                                Все #}
    {#                            {% else %} #}

    {#                                {% set translationDomain = button.vars.translation_domain %} #}

    {#                                <span class="icon icon-sm rounded-5" #}
    {#                                      title="{{ field_value(button)|trans({}, translationDomain) }}" #}
    {#                                      role="tooltip" #}
    {#                                      data-bs-toggle="tooltip" #}
    {#                                      data-bs-placement="bottom" #}
    {#                                      data-bs-delay='{"show":600,"hide":100}'> #}

    {#                                {{ field_value(button)|call_twig_func(SeasonTireFieldType~'_render') }} #}

    {#                            </span> #}
    {#                            {% endif %} #}
    {#                        </label> #}
    {#                    {% endfor %} #}

    {#                    #}{# Единственный выбор #}
    {#                    {% if StudsTireFieldType in field.vars.block_prefixes %} #}

    {#                        {% set translationDomain = field.vars.translation_domain %} #}

    {#                        <input id="{{ field.vars.id }}" #}
    {#                               name="{{ field_name(field) }}" #}
    {#                               value="{{ field_value(field) }}" #}
    {#                                #}{# class="form-check-input visually-hidden" #}
    {#                               class="btn-check" #}
    {#                               type="checkbox"> #}

    {#                        <label class="d-flex btn p-1" #}
    {#                               for="{{ field.vars.id }}"> #}
    {#                        <span class="icon icon-sm rounded-5" #}
    {#                              title="{{ 'label'|trans({}, translationDomain) }}" #}
    {#                              role="tooltip" #}
    {#                              data-bs-toggle="tooltip" #}
    {#                              data-bs-placement="bottom" #}
    {#                              data-bs-delay='{"show":600,"hide":100}'> #}

    {#                            <img src="/assets/blackdragon/img/tire.svg" style="height: 20px;" alt="Шипы"> #}
    {#                        </span> #}

    {#                        </label> #}
    {#                    {% endif %} #}
    {#                {% endfor %} #}
    {#            </div> #}

    {#            #}{# БЛОК КНОПОК - Тип автомобиля #}
    {#            <div class="d-flex align-items-center justify-content-between w-50 mt-3"> #}
    {#                {% for field in carFields %} #}
    {#                    #}{# Кнопки #}
    {#                    {% for button in field %} #}

    {#                        {% if loop.index == 1 %} #}
    {#                            {% set labelClass = 'btn-all m-0 px-2 fw-medium rounded-4' %} #}
    {#                        {% else %} #}
    {#                            {% set labelClass = 'd-flex btn p-1' %} #}
    {#                        {% endif %} #}

    {#                        <input id="{{ button.vars.id }}" #}
    {#                               name="{{ field_name(button) }}" #}
    {#                               value="{{ field_value(button) }}" #}
    {#                                {{ field_value(button) is empty ? 'checked="checked"' : '' }} #}
    {#                               class="btn-check" #}
    {#                               type="radio"> #}

    {#                        <label class="{{ labelClass }}" #}
    {#                               for="{{ button.vars.id }}" #}
    {#                               style="font-size: 14px;"> #}

    {#                            {% if field_value(button) is empty %} #}
    {#                                Все #}
    {#                            {% else %} #}

    {#                                {% set translationDomain = button.vars.translation_domain %} #}

    {#                                <span class="icon icon-sm rounded-5" #}
    {#                                      title="{{ field_value(button)|trans({}, translationDomain) }}" #}
    {#                                      role="tooltip" #}
    {#                                      data-bs-toggle="tooltip" #}
    {#                                      data-bs-placement="bottom" #}
    {#                                      data-bs-delay='{"show":600,"hide":100}'> #}

    {#                                {{ field_value(button)|call_twig_func(CarTireFieldType~'_render') }} #}
    {#                            </span> #}
    {#                            {% endif %} #}

    {#                        </label> #}
    {#                    {% endfor %} #}
    {#                {% endfor %} #}
    {#            </div> #}

    {#        </div> #}

    {#        {{ form_widget(filter.filter, #}
    {#            { #}
    {#                label: 'Подобрать шины', #}
    {#                attr: { class: 'btn bg-primary fw-bold rounded-3 w-100 mt-3'}} #}
    {#        ) }} #}

    {#        {{ form_end(filter) }} #}

    {#    </div> #}


    <div class="accordion accordion-flush mt-3" id="catalogFilter">

        <div class="accordion-item rounded-4 shadow">


            <h2 id="headingOne">
                <button class="accordion-button rounded-4 ps-4 pe-2 py-2 border-0 bg-primary shadow-none collapsed"
                        type="button" title="Подбор шин" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne"><span
                            class="text-uppercase fw-bold text-white mb-0">Фильтр по параметрам</span></button>
            </h2>


            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#catalogFilter" style="">

                <div class="accordion-body">
                    {{ form_start(filter) }}

                    {% for field in filter %}

                        {% if field.vars.name == 'filter' %}

                            {{ form_widget(filter.filter,
                                {
                                    label: 'Подобрать ' ~ category_name,
                                    attr: { class: 'btn-danger w-100 rounded-4 text-uppercase fw-bolder shadow btn'}}
                            ) }}

                        {% else %}
                            {{ form_row(field) }}
                        {% endif %}

                    {% endfor %}
                </div>

            </div>




        </div>

    </div>

{#    <hr class="row mb-0">#}

</section>
