
<main class="main container px-4">
	
	<div class="mt-3">
		{{ include(_self|replace({ "content.html.twig": "breadcrumb.html.twig" })) }}
	</div>
	
	{{ form_start(form) }}
	
	<section id="orders">
		<div class="d-flex justify-content-between align-items-center">
			
			<h1 class="h4 text-uppercase fw-bolder py-2">Корзина</h1>
			
			<div class="small">
				<span class="me-3 pt-3">
					Позиций в корзине: <span class="text-primary">{{ baks_basket.counter }} {{ 'num_of_products'|trans({'count': baks_basket.counter}, 'messages') }}</span>
				</span>
				
				{% if isProducts %}
					
					<a href='{{ path('Orders:user.truncate') }}'
							class="btn btn-sm btn-outline-light text-dark text-decoration-underline small shadow-sm text-muted rounded-3 pt-0">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-x me-1" viewBox="0 0 16 16">
							<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
						</svg>
						<span class="small">Очистить</span>
					</a>
				
				{% endif %}
			
			</div>
		</div>
		
		
		{% if isProducts %}
			
			
			{% set total_summ_product = 0 %}
			{% set total_summ_currency = null %}
			
			{% for product in form.product %}
				
				{% set card = product.vars.data.card %}
				{% set summ = (product.price.vars.data.total * card.product_price) %}
				{% set total_summ_product = total_summ_product + summ %}
				
				
				{% set total_summ_currency = card.product_currency %}
			
			{% endfor %}
			
			
			<div class="border rounded-4 container pt-3">
				{{ include(_self|replace({ "content.html.twig": "form/products.htnl.twig" })) }}
			</div>
		
		{% else %}
			
			<div class="alert alert-warning" role="alert">
				
				<div class='d-flex justify-content-between align-items-center'>
					<div>
						<h3>Ваша корзина пуста.</h3>
						
						Начните с главной страницы или воспользуйтесь поиском.
					</div>
					
					<a href='{{ path('Pages:user.homepage') }}' class="btn btn-lg btn-primary text-nowrap btn">
						<span class="h6 text-uppercase px-3 basket-text">Продолжить покупки</span><span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
					</a>
				</div>
			
			
			</div>
		
		{% endif %}
	
	
	</section>
	
	
	{# ПРОСТМОРЕННЫЕ #}
	{# <section id="viewed" class="mt-4">
		<div class="rounded-4 bg-light">
			<h2 class="text-uppercase h5 fw-bolder p-3 pb-2">Просмотренные</h2>
			
			<div class="w-100 d-flex gap-3 justify-content-between p-3">
				{% for i in 0..3 %}
	#}{# {% include('@Template/default/user/pc/includes/viewed.html.twig') %} #}{#
	{% include Template('/user/pc/includes/viewed.html.twig') %}
{% endfor %}
</div>
</div>
</section> #}
	
	
	{% if isProducts %}
		
		<section id="ordering" class="">
			
			<div class="d-flex align-items-center gap-3">
				<h2 class="h4 text-uppercase fw-bolder py-4 mt-1">оформление заказа</h2>
				
				{% if app.user is null %}
					<div class="small">
						<a href="{{ path('AuthEmail:user.login') }}"
								class="btn btn-link btn-sm h-25 lh-1 text-decoration-none modal-link w-75"
								data-bs-toggle="modal"
								data-bs-target="#modal"
								style="width: 150px;"
								title="{{ 'user.link.breadcrumb.page'|trans({}, 'user.login') }}"
								aria-label="{{ 'user.link.breadcrumb.page'|trans({}, 'user.login') }}"
						>
							Авторизация
						</a>
					</div>
				{% endif %}
			
			</div>
			
			
			<div class="d-flex justify-content-between gap-5">
				
				
				{% set block_user = false %}
				
				{% if app.user is null %}
					
					{% set block_user = true %}
					
					<div class="w-50 d-flex flex-column gap-3">
						{# Аккаунт пользователя #}
						{{ include(_self|replace({ "content.html.twig": "form/account.html.twig" })) }}
						{# Профиль пользователя #}
						
						{{ include(_self|replace({ "content.html.twig": "form/userprofile.html.twig" })) }}
					</div>
				{% else %}
					
					{% if app.user.profile.id is null %}
						{% set block_user = true %}
						
						<div class="w-50 d-flex flex-column gap-3">
							{{ include(_self|replace({ "content.html.twig": "form/userprofile.html.twig" })) }}
						</div>
					{% endif %}
				
				{% endif %}
				
				
				
				{# <div class="d-flex justify-content-between">
						<div class="w-50">
							<label for="address">Адрес доставки: *</label>
						</div>
						<div class="w-50">
							<input class="form-control rounded-4" type="text" id="address">
						</div>
					</div>
					
					<label>
						<textarea class="form-control rounded-4" rows="5" placeholder="Комментарий к заказу">
						</textarea>
					</label> #}
				
				
				<div class="{{ block_user ? 'w-50 flex-column' : 'w-100'}}   d-flex  gap-3">
					
					<div class="{{ block_user ? 'w-100' : 'w-50'}} d-flex flex-column gap-3">
						{# Способы доставки #}
						{{ include(_self|replace({ "content.html.twig": "form/delivery.html.twig" })) }}
					</div>
					
					<div class='{{ block_user ? 'w-100' : 'w-50'}} mh-100 d-flex flex-column gap-3 align-items-stretch'>
						
						{% if block_user %}
							<hr>
						{% endif %}
						
						{# Способы оплаты  #}
						{{ include(_self|replace({ "content.html.twig": "form/payment.html.twig" })) }}
						
						{# <div class="d-flex">
						<div class="w-25">
							<label for="coupon">Купон на скидку:</label>
						</div>
						<div class="w-50">
							<input class="form-control rounded-4" type="text" id="coupon">
						</div>
					</div> #}
						
						
						{# {{ dd(total_summ_product) }} #}
						
						<div class="w-100 d-flex justify-content-between mt-auto">
							<div class="w-50">
							<span class="small">Товаров на сумму:
							
							{% set discount = user_profile_discount(total_summ_product) %}
								<span id='total_product_sum'>{{ discount ?  money(discount) : money(total_summ_product) }}</span>
							</span>
								<div class="d-flex align-items-stretch">
								<span
										class="small me-3 pt-1">Итого:
								</span>
									<span id='total_all_sum'
											class="fw-bolder mb-0 h3">{{ discount ?  money(discount) : money(total_summ_product) }}</span>
								</div>
							</div>
							<div class="w-50 d-flex align-items-end justify-content-end">
								
								{# {{ form_row(form.order, {
								label: 'Оформить заказ',
								attr: { class: 'btn-danger', title : "Оформить заказ", 'aria-label' : "Оформить заказ" }
							}) }} #}
								
								{{ form_widget(form.order, { label: '
								<span>'~ 'Оформить заказ'|trans({}, 'core.btn') ~'</span>
								<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
							',
									attr: { class: 'btn-danger', title : "Оформить заказ", 'aria-label' : "Оформить заказ" }
								}) }}
							
							</div>
						</div>
						
						<div class="small ">
							<p class="small">Нажимая «Оформить заказ», Вы соглашаетесь на обработку персональных данных и
											 подтверждаете
											 ознакомление с
								<a href="#">пользовательским соглашением</a>,
								<a href="#">условиями продажи товаров</a> и
								<a href="#">политикой о конфиденциальности</a>.</p>
						</div>
					</div>
					
					
					
				
				
				</div>
			</div>
		
		
		</section>
	
	
	
	
	{% endif %}
	
	{{ form_end(form) }}
	
	<hr class="mt-5 rounded-circle border-0" style="height: 20px; box-shadow: 0 20px 20px -6px #000;">

</main>


