{# @var alt \BaksDev\Products\Product\Repository\Cards\ProductCardResultInterface #}

<div class="d-flex justify-content-between">

    <h3 class="h5 text-uppercase fw-bolder py-3">
        Альтернатива
    </h3>
</div>

<div class="border rounded-4 p-3 small">

    <table class="table table-borderless link-parent align-middle fs-12 mb-0">
        <thead>

        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Размер</th>
            <th scope="col">Характеристики</th>
            <th scope="col">Наличие</th>
            <th scope="col">Стоимость, шт.</th>
            <th scope="col">Купить</th>
        </tr>

        </thead>

        {% if alternative %}

        {% set alternativeLength = alternative|length %}

        {% for k,alt in alternative %}

            {# Рассчет количества #}
            {% set alternativeQuantity = '' %}
            {% set inStock = true %}
            {% set quantity = alt.productQuantity %}

            {% set text_class = ' fw-bold' %}

            {% if quantity == 0 %}
                {% set alternativeQuantity = 'Нет в наличии' %}
                {% set inStock = false %}
            {% elseif quantity > 20 %}
                {% set alternativeQuantity = 'Более 20 шт.' %}
                {% set text_class = 'text-success' ~ text_class %}
            {% elseif quantity < 20 %}
                {% set alternativeQuantity = 'Менее 20 шт.' %}
                {% set text_class = 'text-warning' ~ text_class%}
            {% else %}
                {% set alternativeQuantity = (quantity)~' шт.' %}
            {% endif %}

            {# Свойства для алтернативных предложений #}
            {% set alternativeProperties = alt.categorySectionField %}

            {# Рассчет скидки #}
            {% set discount = false %}

            {% if alt.productPrice and alt.productOldPrice > alt.productPrice %}
                {% set discount = (((alt.productOldPrice - alt.productPrice) / alt.productOldPrice) * 100)|round %}
                {#    {% set discount = (100 - (alt.price / (oldPrice / 100)))|round %} #}
            {% endif %}

            <tbody>

            <tr class="{{ k + 1 == alternativeLength ? '' : 'border-bottom' }} ">

                {# НАИМЕНОВАНИЕ #}
                <th class="fw-normal py-3" scope="row">
                    <div class="d-flex gap-3 align-items-center">

                        <a class="text-decoration-none"
                           href="{{ path('products-product:user.detail', {
                               category: alt.categoryUrl,
                               url: alt.productUrl,
                               offer: alt.productOfferValue,
                               variation: alt.productVariationValue,
                               modification: alt.productModificationValue,
                               postfix: (alt.productModificationPostfix ?: alt.productVariationPostfix ?: alt.productOfferPostfix ?: null )|replace({ '/': '-' }),
                           }) }}">
                            {{ alt.productName }}
                        </a>

                        <div class="d-flex align-items-center text-nowrap">

                            {# Если дата начала активности меньше 1 месяца - НОВИНКА  #}
                            {% if date() < alt.productActiveFrom|date_modify("+1 month") %}
                                <a href="#" class="btn btn-success fw-bold rounded-5 fs-10 py-1 px-2 ms-1">
                                    НОВИНКА
                                </a>
                            {% endif %}
                        </div>

                    </div>
                </th>

                {# РАЗМЕР #}
                <td class="fw-normal py-3  text-center">
                    {{ alt.productVariationValue|call_twig_func(alt.productVariationReference~'_render')
                    ~ alt.productModificationValue|call_twig_func(alt.productModificationReference~'_render') }}
                    {{ alt.productOfferValue|call_twig_func(alt.productOfferReference~'_render') }}
                    {{ (alt.productModificationPostfix ?: alt.productVariationPostfix ?: alt.productOfferPostfix ?: null )|replace({ '/': '-' }) }}
                </td>

                {# ХАРАКТЕРИСТИКИ #}
                <td class="d-flex py-3 gap-2 align-items-center">
                    {% for property in alternativeProperties %}
                        {{ property.field_value|call_twig_func(property.field_type~'_render') }}
                    {% endfor %}
                </td>

                {# НАЛИЧИЕ, СТОИМОСТЬ, СКИДКА, КНОПКИ "ИЗБРАННОЕ/КОРЗИНА" #}
                {% if inStock == true %}

                    <td class="{{ text_class }}"> {{ alternativeQuantity }}</td>

                    <td>

                        {% if discount %}

                            <a href="#" class="btn text-white btn-danger fw-bold rounded-5 fs-11 py-1 px-2 me-2">
                                - {{ discount }} %
                            </a>

                        {% endif %}

                        {{ money(alt.productPrice, alt.productCurrency) }}

                    </td>

                    <td class="py-3 text-end">

                        {# В КОРЗИНУ #}
                        {% include Template('@products-product/public/'~(baks_settings.device ?: 'pc')~'/button_add_to_basket.html.twig') with {
                            'product_event': alt.productEvent,
                            'product_offer': alt.productOfferUid,
                            'product_variation': alt.productVariationUid,
                            'product_modification': alt.productModificationUid,
                        } only %}

                    </td>

                {% else %}

                    <td class="text-danger fw-bold py-3">Нет в наличии</td>

                    <td class="text-danger fw-bold py-3">Цена по запросу</td>

                    {# В ИЗБРАННОЕ #}
                    <td class="py-3 text-end">
                    </td>

                {% endif %}
            </tr>
            </tbody>

        {% endfor %}
    </table>

    {% else %}

        </table>

        <div class="mt-3 alert alert-danger rounded-4 pb-0 w-100" role="alert">
            <div class="d-flex align-items-baseline gap-3">
                <div>
                    <div class="icon rounded-circle bg-contain p-2 bg-danger text-white small"
                         style="width: 10px; height: 10px;">
                        <span class="small">!</span>
                    </div>
                </div>

                <div class="small lh-1">
                    <p>К сожалению альтернативные варианты не найдены</p>
                </div>
            </div>
        </div>

    {% endif %}
</div>



