{# @var card \BaksDev\Products\Product\Repository\ProductDetailByValue\ProductDetailByValueResult #}


    <h2 class="visually-hidden">Хлебные крошки</h2>
    <nav class="small" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '-';">
        {#        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" #}
        {#             viewBox="0 0 16 16"> #}
        {#            <path fill-rule="evenodd" #}
        {#                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path> #}
        {#        </svg> #}
        <ol class="breadcrumb text-secondary small opacity-75" style="font-size: 11px;">

            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                     class="bi bi-caret-right-fill text-muted me-1" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
                </svg>
            </li>

            <li class="breadcrumb-item">
                <a class="text-secondary" href="{{ path('core:user.homepage') }}">
                    Главная
                </a>
            </li>

            <li class="breadcrumb-item">
                <a class="text-secondary" href="{{ path('products-product:user.catalog.index') }}">
                    Каталог
                </a>
            </li>

            <li class="breadcrumb-item active" aria-current="page" title="{{ card.categoryName }}">
                <a class="text-secondary" href="{{ path('products-product:user.catalog.category', {
                    category: card.categoryUrl,
                }) }}" aria-label="{{ card.categoryName }}">
                    {{ card.categoryName }}
                </a>
            </li>

            <li class="breadcrumb-item active" aria-current="page" title="{{ card.productName }}">
                <a class="text-secondary" href="{{ path('products-product:user.model', {
                    category: card.categoryUrl,
                    url: card.productUrl
                }) }}">
                    {{ card.productName }}
                </a>
            </li>

            {% set productIdentifiers = card.productOfferValue
                ~ '/' ~ card.productVariationValue
                ~ '/' ~ card.productModificationValue
                ~ '/' ~ (card.productModificationPostfix ?: card.productVariationPostfix ?: card.productOfferPostfix ?: null )|replace({ '/': '-' }) %}

            <li class="breadcrumb-item active" aria-current="page"
                aria-label="{{ card.productName }}"
                title="{{ card.productName }}">
                {{ productIdentifiers }}
            </li>

        </ol>
    </nav>
