<nav class="small" style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
    <ol class="breadcrumb text-secondary small opacity-75">
        <li>
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="10"
                 height="10"
                 fill="currentColor"
                 class="bi bi-caret-right-fill text-muted me-1"
                 viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </li>

        <li class="breadcrumb-item">
            <a href="{{ path('core:user.homepage') }}" class="text-muted"
               title="{{ 'breadcrumb.homepage.user'|trans({}, 'pages') }}">
                {{ 'breadcrumb.homepage.user'|trans({}, 'pages') }}
            </a>
        </li>

        {# <li class="breadcrumb-item">
			<a href="{{ path('products-product:public.catalog.category') }}" class="text-muted" title="Продукция">Продукция</a>
		</li> #}

        {# {{ dd(path('products-product:public.detail', { url: card.url })) }} #}


        <li class="breadcrumb-item">
            <a href="{{ path('products-product:public.catalog.category', { category : card.category_url }) }}"
               class="text-muted"
               title="{{ card.category_name }}"
            >
                {{ card.category_name }}
            </a>
        </li>

        {% set breadcrumb_active_name =
            card.product_variation_value|call_twig_func(card.product_variation_reference~'_render') ~
            card.product_modification_value|call_twig_func(card.product_modification_reference~'_render') ~

            card.product_offer_value|call_twig_func(card.product_offer_reference~'_render')
        %}

        {% if breadcrumb_active_name %}

            <a href="{{ path('products-product:user.model', {
                category: card.category_url,
                url: card.url
            }) }}" class="text-muted"
               title="{{ card.product_name }}">
                {{ card.product_name }}
            </a>


        {% else %}
            {% set breadcrumb_active_name = card.product_name %}
        {% endif %}


        <li class="breadcrumb-item active text-primary"
            aria-current="page"
            title="{{ breadcrumb_active_name }}"
        >
            {# Значение торгового предложения #}
            {{ breadcrumb_active_name }}
        </li>
    </ol>
</nav>
