{% trans_default_domain('user.order') %}

<div id='user_delivery' class="row justify-content-between fw-medium pb-2 mb-2">

    <h3 class="fs-14 mb-4 fw-bold">
        Доставка
    </h3>

    {#  Дата доставки  #}
    <div class="d-flex justify-content-between">

        <div class="w-50">
            {{ form_label(form.usr.delivery.deliveryDate, 'Дата доставки (самовывоза)'|trans) }} *
        </div>

        <div class="w-100 mb-3 input-group">

                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                    </svg>
                </span>

            {{ form_widget(form.usr.delivery.deliveryDate) }}
        </div>
    </div>

    {#  Способы доставки  #}
    <div class="d-flex justify-content-between">

        <div class="w-50">
            <label>Способ доставки: *</label>
        </div>

        <div class="w-100 mb-3">

            {% for delivery in form.usr.delivery.delivery %}

                <div class='d-flex align-items-center gap-1'>
                    {{ form_widget(delivery) }}

                    <div class='mb-1'>

                        {% if delivery.vars.attr['data-price'] %}
                            <strong>({{ money((delivery.vars.attr['data-price'] * 100), delivery.vars.attr['data-currency'] ) }}
                                )</strong>

                            {% if delivery.vars.attr['data-excess'] %}
                                &nbsp; <span
                                    class="badge text-bg-danger">+ {{ money((delivery.vars.attr['data-excess'] * 100), delivery.vars.attr['data-currency'] ) }} за 1 км</span>
                            {% endif %}

                        {% else %}
                            <strong>(бесплатно)</strong>
                        {% endif %}
                    </div>

                </div>

            {% endfor %}

            {% if form.usr.delivery.delivery.vars.help %}

                <p class="text-secondary mb-2 text-nowrap" style="font-size:11px;">
                    {{ form.usr.delivery.delivery.vars.help }}
                </p>

            {% endif %}

        </div>
    </div>

    {# Пункты выдачи заказов #}
    {% for delivery_field in form.usr.delivery.field %}

        <div class="d-flex justify-content-between mb-3">
            <div class="w-50 d-flex gap-3">

                {{ form_label(delivery_field.value) }}

            </div>

            <div class="w-100">
                {{ form_widget(delivery_field.field) }}
                {{ form_widget(delivery_field.value, { attr: { class : 'rounded-4' }}) }}
            </div>
        </div>

    {% endfor %}

    {{ form_row(form.usr.delivery.latitude) }}
    {{ form_row(form.usr.delivery.longitude) }}

</div>

