{# <div class="overflow-hidden rounded-5 border lazy bg-cover" style="height: 250px;"
	 data-bg="/img/card-img/shina-1.webp"
> #}


{% set product_modification_image = card.product_modification_image|json_decode %}
			{% set product_variation_image = card.product_variation_image|json_decode %}
			{% set product_offer_images = card.product_offer_images|json_decode %}
			{% set product_photo = card.product_photo|json_decode %}
			{% set root_image = null %}

			{# Определяем главное фото #}
			{% for modification_image in product_modification_image | filter(img =>  img.product_img_root is defined and img.product_img_root == true) %}
                {% set root_image = modification_image %}
            {% endfor %}

			{% if root_image is null %}
                {% for variation_image in product_variation_image | filter(img => img.product_img_root is defined and img.product_img_root == true) %}
                    {% set root_image = variation_image %}
                {% endfor %}
            {% endif %}

			{% if root_image is null %}
                {% for offer_images in product_offer_images | filter(img => img.product_img_root is defined and img.product_img_root == true) %}
                    {% set root_image = offer_images %}

                {% endfor %}
            {% endif %}

			{% if root_image is null %}
                {% for product_images in product_photo | filter(img => img.product_img_root is defined and img.product_img_root == true) %}
                    {% set root_image = product_images %}

                {% endfor %}
            {% endif %}


			{% set img_path = root_image.product_img_cdn == true ? cdn_host : '' %}
			{% set root_image_ext = root_image.product_img_cdn == true ? 'medium.'~root_image.product_img_ext : root_image.product_img_ext %}




{% set img_active = true %}


<div id="productPhoto" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner rounded-5 border">


        {% for modification_image in product_modification_image | filter(img => img.product_img_ext is defined) %}

            {% set img_path = modification_image.product_img_cdn == true ? cdn_host : '' %}
            {% set image_ext = modification_image.product_img_cdn == true ? 'large.'~modification_image.product_img_ext : modification_image.product_img_ext %}

            <div class="carousel-item {{ img_active ? 'active' }}">
                <img src="{{ img_path ~ modification_image.product_img ~ image_ext }}" class="d-block w-100"
                     alt="{{ card.product_name }}">
            </div>

            {% set img_active = false %}
        {% endfor %}



        {% for variation_image in product_variation_image | filter(img => img.product_img_ext is defined) %}

            {% set img_path = variation_image.product_img_cdn == true ? cdn_host : '' %}
            {% set image_ext = variation_image.product_img_cdn == true ? 'large.'~variation_image.product_img_ext : variation_image.product_img_ext %}


            <div class="carousel-item {{ img_active ? 'active' }}">
                <img src="{{ img_path ~ variation_image.product_img ~ image_ext }}" class="d-block w-100"
                     alt="{{ card.product_name }}">
            </div>

            {% set img_active = false %}

        {% endfor %}





        {% for offer_images in product_offer_images | filter(img => img.product_img_ext is defined) %}


            {% set img_path = offer_images.product_img_cdn == true ? cdn_host : '' %}
            {% set image_ext = offer_images.product_img_cdn == true ? 'large.'~offer_images.product_img_ext : offer_images.product_img_ext %}


            <div class="carousel-item {{ img_active ? 'active' }}">
                <img src="{{ img_path ~ offer_images.product_img ~ image_ext }}" class="d-block w-100"
                     alt="{{ card.product_name }}">
            </div>

            {% set img_active = false %}
            {
        {% endfor %}


        {% for product_images in product_photo | filter(img => img.product_img_ext is defined) %}



            {% set img_path = product_images.product_img_cdn == true ? cdn_host : '' %}
            {% set image_ext = product_images.product_img_cdn == true ? 'large.'~product_images.product_img_ext : product_images.product_img_ext %}


            <div class="carousel-item {{ img_active ? 'active' }}">
                <img src="{{ img_path ~ product_images.product_img ~ image_ext }}" class="d-block w-100"
                     alt="{{ card.product_name }}">
            </div>

            {% set img_active = false %}


        {% endfor %}


    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#productPhoto" data-bs-slide="prev">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000"
             class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
            </path>
        </svg>

        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productPhoto" data-bs-slide="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-caret-right-fill"
             viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
            </path>
        </svg>
        <span class="visually-hidden">Next</span>
    </button>
</div>