<main class="main container px-4">
	
	
	<div class="mt-3">
		{{ include(_self|replace({ "content.html.twig": "breadcrumb.html.twig" })) }}
	</div>

	<h1 class="h3 text-uppercase fw-bolder">
		{{ card.product_name }}
		
		{# Значение торгового предложения #}
		{{ card.product_offer_value|call_twig_func(card.product_offer_reference) }}
		
		{# Значение множественного варианта ТП #}
		{{ card.product_variation_value|call_twig_func(card.product_variation_reference) }}
		
		{# Значение модификации множественного варианта ТП #}
		{{ card.product_modification_value|call_twig_func(card.product_modification_reference) }}
		
		{# Свойства, учавствующие в названии #}
		{% for name_property in arr_property | filter(props => props.field_name == true) %}
			{{ name_property.field_name|call_twig_func(name_property.field_type) }}
		{% endfor %}
	
	</h1>
	
	
	<div class="d-flex align-items-center gap-3">
		
		{# {{ include(_self|replace({ "content.html.twig": "rating.html.twig" })) }} #}
		
		<span class="small">Артикул: {{ card.product_article }}</span>
		
		{# Свойства, учавствующие в превью карточки #}
		{% for name_property in  arr_property | filter(props => props.field_card is defined and props.field_card == true) %}
			{{ name_property.field_value|call_twig_func(name_property.field_type~'_render') }}
		{% endfor %}
		
		{# Если дата начала активности меньше 1 месяца - НОВИНКА  #}
		{% if date() < card.active_from|date_modify("+1 month") %}
			<span class="badge bg-success rounded-2">Новинка</span>
		{% endif %}
		
		{# <span class="badge bg-danger rounded-2">Акция</span> #}
		{# <span class="badge bg-hit rounded-2">Хит</span> #}
		{# <span class="badge bg-light text-muted rounded-2">Модель производится с 1923</span> #}
	</div>
	
	
	<div class="d-flex gap-5 mt-5">
		
		{# LIGHTBOX  #}
		
		<div class="w-auto">
			
			{% set product_modification_image = card.product_modification_image|json_decode %}
			{% set product_variation_image = card.product_variation_image|json_decode %}
			{% set product_offer_images = card.product_offer_images|json_decode %}
			{% set product_photo = card.product_photo|json_decode %}
			{% set root_image = null %}
			
			
			{# Определяем главное фото #}
			{% for modification_image in product_modification_image | filter(img =>  img.product_img_root is defined and img.product_img_root == true) %}
				{% set root_image = modification_image %}
			{% endfor %}
			
			{% if root_image is null %}
				{% for variation_image in product_variation_image | filter(img => img.product_img_root is defined and img.product_img_root == true) %}
					{% set root_image = variation_image %}
				
				{% endfor %}
			{% endif %}
			
			{% if root_image is null %}
				{% for offer_images in product_offer_images | filter(img => img.product_img_root is defined and img.product_img_root == true) %}
					{% set root_image = offer_images %}
				
				{% endfor %}
			{% endif %}
			
			{% if root_image is null %}
				{% for product_images in product_photo | filter(img => img.product_img_root is defined and img.product_img_root == true) %}
					{% set root_image = product_images %}
				
				{% endfor %}
			{% endif %}
			
			
			
			{# {{ dd(root_image) }} #}
			
			
			{% set img_path = root_image.product_img_cdn == true ? cdn_host : '' %}
			{% set root_image_ext = root_image.product_img_cdn == true ? 'medium.'~root_image.product_img_ext : root_image.product_img_ext %}
			
			
			<div id="img-product" data-bs-toggle="modal" data-bs-target="#lightboxModal"
					class="icon rounded-5 border lazy bg-cover shadow-none" style="width: 350px; height: 350px;"
					data-bg="{{ root_image ? img_path ~ root_image.product_img ~ root_image_ext : '/assets/img/blank.svg' }}"
					title="{{ card.product_name }}"
			>
			
			</div>
			
			
			{# ДОПОТЛИТЕЛЬНЫЕ ФОТО #}
			
			<div class="d-flex justify-content-center gap-3 mt-4 ">
				
				
				{% for modification_image in product_modification_image | filter(img => img.product_img_ext is defined) | sort((a, b) => a.product_img_root < b.product_img_root) %}
					
					{% set img_path = modification_image.product_img_cdn == true ? cdn_host : '' %}
					{% set image_ext = modification_image.product_img_cdn == true ? 'min.'~modification_image.product_img_ext : modification_image.product_img_ext %}
					
					<button class="btn btn-link icon bg-cover rounded-4 lazy img-product m-0"
							data-bg="{{ img_path ~ modification_image.product_img ~ image_ext }}"
							style="width: 70px; height: 70px;"
							aria-label="{{ card.product_name }}"
					></button>
				{% endfor %}
				
				
				{% for variation_image in product_variation_image | filter(img => img.product_img_ext is defined) | sort((a, b) => a.product_img_root < b.product_img_root) %}
					
					{% set img_path = variation_image.product_img_cdn == true ? cdn_host : '' %}
					{% set image_ext = variation_image.product_img_cdn == true ? 'min.'~variation_image.product_img_ext : variation_image.product_img_ext %}
					
					<button class="btn btn-link icon bg-cover rounded-4 lazy img-product m-0"
							data-bg="{{ img_path ~ variation_image.product_img ~ image_ext }}"
							style="width: 70px; height: 70px;"
							aria-label="{{ card.product_name }}"
					></button>
				
				{% endfor %}
				
				
				{% for offer_images in product_offer_images | filter(img => img.product_img_ext is defined) %}
					
					{% set img_path = offer_images.product_img_cdn == true ? cdn_host : '' %}
					{% set image_ext = offer_images.product_img_cdn == true ? 'min.'~offer_images.product_img_ext : offer_images.product_img_ext %}
					
					<button class="btn btn-link icon bg-cover rounded-4 lazy img-product m-0"
							data-bg="{{ img_path ~ offer_images.product_img ~ image_ext }}"
							style="width: 70px; height: 70px;"
							aria-label="{{ card.product_name }}"
					></button>
				
				{% endfor %}
				
				
				{% for product_images in product_photo | filter(img => img.product_img_ext is defined) | sort((a, b) => a.product_img_root < b.product_img_root) %}
					
					
					
					{% set img_path = product_images.product_img_cdn == true ? cdn_host : '' %}
					{% set image_ext = product_images.product_img_cdn == true ? 'min.'~product_images.product_img_ext : product_images.product_img_ext %}
					
					<button class="btn btn-link icon bg-cover rounded-4 lazy img-product m-0"
							data-bg="{{ img_path ~ product_images.product_img ~ image_ext }}"
							style="width: 70px; height: 70px;"
							aria-label="{{ card.product_name }}"
					></button>
				
				
				{% endfor %}
			
			</div>
			
			{{ include(_self|replace({ "content.html.twig": "_lightbox.html.twig" })) }}
		
		</div>
		
		
		{# ХАРАКТЕРИСТИКИ #}
		
		<div class="w-100 d-flex flex-column">
			
			{% set order_price = null %}
			{% set search_offer = card.product_offer_value is defined ? card.product_offer_value %}
			{% set search_variation = card.product_variation_value is defined ? card.product_variation_value %}
			{% set search_modification = card.product_modification_value is defined ? card.product_modification_value %}
			
			{% set search_text %}
			<h5>Возможно Вы искали {{ card.product_name }}
				{# Значение торгового предложения #}
				{{ card.product_offer_value|call_twig_func(card.product_offer_reference) }}
			</h5>
			<div class='d-flex flex-wrap gap-3'>
				{% endset %}
				
				
				{% if
					(offer is not null) or
					(variation is not null ) or
					(modification is not null ) %}
				
				
				{% set order_offer = null %}
				{% set order_variation = null %}
				{% set order_modification = null %}
				
				
				
				
				{% for offer in offers %}
					
					
					{% if search_offer is null %}
						{% set search_offer = offer.product_offer_value %}
					{% endif %}
					
					
					{# Торговые предложения, соответствующие запросу #}
					{% if offer.product_offer_value == search_offer %}
						
						{# {% if order_offer is null %}
							{{ offer.product_offer_name }}:  {{ offer.product_offer_value|call_twig_func(offer.product_offer_reference) }}
							{% endif %} #}
						
						{% if offer.product_variation_value %}
							{% if offer.product_modification_value %}
								
								{% if offer.product_modification_value != search_modification %}
									
									
									{% if search_text %}
										{{ search_text }}
										{% set search_text = false %}
									{% endif %}
									
									
									<a href='{{ path('Product:user.detail', {
										url : card.url ,
										offer: offer.product_offer_value,
										variation: offer.product_variation_value,
										modification: offer.product_modification_value
									}) }}' class="btn btn-link btn-sm lh-1 text-decoration-none">
										{{ offer.product_offer_value|call_twig_func(offer.product_offer_reference) }}
										{{ offer.product_variation_value|call_twig_func(offer.product_variation_reference) }}
										{{ offer.product_modification_value|call_twig_func(offer.product_modification_reference) }}
									</a>
									
									
									
								
								{% endif %}
							
							{% else %}
								
								{% if offer.product_variation_value != search_variation %}
									
									{% if search_text %}
										{{ search_text }}
										{% set search_text = false %}
									{% endif %}
									
									
									<a href='{{ path('Product:user.detail', {
										url : card.url ,
										offer: offer.product_offer_value,
										variation: offer.product_variation_value
									}) }}' class="btn btn-link btn-sm lh-1 text-decoration-none">
										{{ offer.product_offer_value|call_twig_func(offer.product_offer_reference) }}
										{{ offer.product_variation_value|call_twig_func(offer.product_variation_reference) }}
									
									</a>
								
								
								{% endif %}
							
							{% endif %}
						
						{% else %}
							
							{% if search_text %}
								{{ search_text }}
								{% set search_text = false %}
							{% endif %}
							
							<a href='{{ path('Product:user.detail', {
								url : card.url ,
								offer: offer.product_offer_value
							}) }}' class="btn btn-link btn-sm lh-1 text-decoration-none">
								{{ offer.product_offer_value|call_twig_func(offer.product_offer_reference) }}
							
							</a>
						
						
						{% endif %}
						
						{#  Расчет минимальной стоимости  #}
						{% if order_price is null or (offer.product_price != 0 and order_price > offer.product_price ) %}
							{% set order_price = offer.product_price %}
						{% endif %}
					
					
					{% endif %}
				
				{% endfor %}
				
				{# Если имеются другие варианты - закрываем div #}
				{% if search_text == false %}
			</div>
			{% endif %}
			
			
			{% endif %}
			
			{# Минимальная цена торговых предложений  #}
			<div class="d-flex justify-content-between mt-3 mb-3">
				<h3>от {{ money(order_price, card.product_currency) }}</h3>
				<a href="/" aria-label="Лого" title="Лого">
					<img data-src="/logo.webp" src="/assets/img/empty.png" alt="..." height="50" class="lazy">
				</a>
			</div>
			
			{# ХАРАКТЕРИСТИКИ  #}
			<div class="d-flex gap-5 mb-3">
				
				{# <h3 class="h6 position-absolute" style="margin-top: -2.5rem;">Характеристики:</h3> #}
				{{ include(_self|replace({ "content.html.twig": "_characteristic.html.twig" })) }}
				
				
				
				{#  ТАКЖЕ ВАС МОЖЕТ ЗАИНТЕРЕСОВАТЬ #}
				
				
				{# ТИЗЕРЫ #}
				{# {{ include(_self|replace({ "content.html.twig": "teaser.html.twig" })) }} #}
				
				
				{% set order_offer = null %}
				{% set order_variation = null %}
				{% set order_modification = null %}
				
				
				{% for offer in offers %}
				
				{# Торговые предложения, соответствующие запросу #}
				{# {% if card.product_offer_value is not null and card.product_offer_value != offer.product_offer_value %} #}
				
				
				
				{% if offer.product_offer_value != search_offer %}
				
				{% if order_offer is null or order_offer != offer.product_offer_value %}
				
				{% if order_offer is null %}
				<h6 class='mt-3'>Также Вас может заинтересовать</h6>
				<div class='d-flex gap-3'>
					{% endif %}
					
					<div>
						{{ card.product_name }}
						{{ offer.product_offer_value|call_twig_func(offer.product_offer_reference) }}
						:
					</div>
					{% endif %}
					
					
					{# {% if order_offer is null %}
							{{ offer.product_offer_name }}:  {{ offer.product_offer_value|call_twig_func(offer.product_offer_reference) }}
						{% endif %} #}
					
					{% if offer.product_variation_name %}
						
						{% if offer.product_modification_name %}
							
							{% if order_modification is null or order_modification != offer.product_offer_value~offer.product_variation_value~offer.product_modification_value %}
								
								<a href='{{ path('Product:user.detail', {
									url : card.url ,
									offer: offer.product_offer_value,
									variation: offer.product_variation_value,
									modification: offer.product_modification_value
								}) }}' class="btn btn-link btn-sm lh-1 text-decoration-none">
									{{ offer.product_offer_value|call_twig_func(offer.product_offer_reference) }}
									{{ offer.product_variation_value|call_twig_func(offer.product_variation_reference) }}
									{{ offer.product_modification_value|call_twig_func(offer.product_modification_reference) }}
								</a>
							
							{% endif %}
						
						
						
						{% else %}
							
							{% if order_variation is null or order_variation != offer.product_offer_value~offer.product_variation_value %}
								
								<a href='{{ path('Product:user.detail', {
									url : card.url ,
									offer: offer.product_offer_value,
									variation: offer.product_variation_value
								}) }}' class="btn btn-link btn-sm lh-1 text-decoration-none">
									{{ offer.product_offer_value|call_twig_func(offer.product_offer_reference) }}
									{{ offer.product_variation_value|call_twig_func(offer.product_variation_reference) }}
								</a>
							{% endif %}
						{% endif %}
					
					{% else %}
						{% if order_offer is null or order_offer != offer.product_offer_value %}
							<a href='{{ path('Product:user.detail', {
								url : card.url ,
								offer: offer.product_offer_value
							}) }}' class="btn btn-link btn-sm lh-1 text-decoration-none">
								{{ offer.product_offer_value|call_twig_func(offer.product_offer_reference) }}
							</a>
						{% endif %}
					{% endif %}
					
					{#  Расчет минимальной стоимости  #}
					{% if order_price is null or (offer.product_price != 0 and order_price > offer.product_price ) %}
						{% set order_price = offer.product_price %}
					{% endif %}
					
					{% set order_offer = offer.product_offer_value %}
					{% set order_variation = offer.product_offer_value~offer.product_variation_value %}
					{% set order_modification = offer.product_offer_value~offer.product_variation_value~offer.product_modification_value %}
					
					{% endif %}
					
					
					
					{% endfor %}
				</div>
			</div>
		
		</div>
	
	</div>
	
	
	{# ПОЛНОЕ ОПИСАНИЕ #}
	
	{% if card.product_preview %}
		<div class="">
			<div class="mt-5">
				{# {{ include(_self|replace({ "content.html.twig": "description.html.twig" })) }} #}
				{{ card.product_preview|raw }}
			</div>
		</div>
	{% endif %}
	
	{% if card.product_description %}
		<div class="accordion d-flex" style="--bs-accordion-btn-focus-box-shadow: none;">
			<div class="d-flex justify-content-start">
				<button class="accordion-button btn-link p-0 collapsed" style="--bs-accordion-active-bg: none;"
						type="button" data-bs-toggle="collapse"
						data-bs-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
					<span class="pe-3">Читать полностью</span>
				</button>
			</div>
		</div>
		
		<div class="accordion" id="accordionDescription">
			
			<div id="collapseDescription" class="accordion-collapse collapse" aria-labelledby="headingThree"
					data-bs-parent="#accordionDescription">
				<div class="accordion-body px-0">
					{{ card.product_description|raw|raw }}
				</div>
			</div>
		
		</div>
	{% endif %}


</main>


