{# БЛОК С ЦЕНОЙ И КНОПКОЙ ДОБАВЛЕНИЯ В КОРЗИНУ #}

{# {% set oldPrice = 910000 %} #}
{% set oldPrice = card.product_old_price %}

{# Рассчет скидки #}
{% set discount = false %}

{% if card.product_price and oldPrice > card.product_price %}
    {% set discount = (((oldPrice - card.product_price) / oldPrice) * 100)|round %}
    {#    {% set discount = (100 - (card.product_price / (oldPrice / 100)))|round %} #}
{% endif %}

{# Рассчет наличия и количества #}
 {% set productQuantity = '' %}
 {% set inStock = true %}
 {% set quantity = card.product_quantity %}

 {% if quantity == 0 %}
     {% set productQuantity = 'Нет в наличии' %}
     {% set inStock = false %}
 {% elseif quantity > 20 %}
     {% set productQuantity = 'Более 20 шт.' %}
 {% elseif quantity < 20 %}
     {% set productQuantity = 'Менее 20 шт.' %}
 {% else %}
     {% set productQuantity = (quantity)~' шт.' %}
 {% endif %}

<div class="rounded-4 text-center p-3 mb-5">

    {% if inStock == true %}

        {# Старая цена #}
        {% if discount %}
            <p class="text-danger fw-bold mb-0 me-5 lh-1">
                <del class="me-2">
                    {{ money(oldPrice, card.product_currency) }}
                </del>
            </p>
        {% endif %}

        {# Текущая цена #}
        <p class="fw-bold fs-30 mb-3 d-flex align-items-center justify-content-center gap-4 lh-1">
            {{ money(card.product_price, card.product_currency) }}

            {% if discount %}
                <span class="badge bg-danger text-uppercase rounded-5 fs-11 h-100 py-2">скидка {{ discount }} % </span>
            {% endif %}
        </p>

        {# Добаление товаров в корзину #}
        {{ include(_self|replace({ "_includes/add_basket.html.twig" : "_form/add_basket_form.html.twig" })) }}
        <p class="text-success fw-bold mb-0 lh-1">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg"
                 viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg>

            В наличии
            <span class="text-secondary fw-normal fs-12">{{ productQuantity }}</span>
        </p>

    {% else %}

        {# @TODO что добавить при отсутствии? #}
        <p class="text-danger fw-bold mb-0 lh-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                 viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
            Нет в наличии
        </p>
    {% endif %}
</div>