{% if card %}
	
	{% set arr_property = card.category_section_field|json_decode %}
	
	
	
	<div class="card rounded-5 border-0 mb-3">
		
		
		<div class="card-image-wrap overflow-hidden rounded-5 border" style="height: 200px;">
			
			<div class="d-flex justify-content-between">
				<div id="favorites-{{ random() }}">
					<button class="btn btn-link opacity-0 card-favorites"
							aria-label="Добавить в избранное"
					>
						<img data-src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNCMUI2QkIiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOCAxLjMxNEMxMi40MzgtMy4yNDggMjMuNTM0IDQuNzM1IDggMTUtNy41MzQgNC43MzYgMy41NjItMy4yNDggOCAxLjMxNHoiPjwvcGF0aD48L3N2Zz4K"
								width="16" height="16"
								src="/assets/img/empty.png"
								class="lazy"
								alt="Добавить в избранное"
						/>
					</button>
				</div>
				
				<div class="mt-2 me-2">
					<span class="badge bg-success rounded-2 me-1">Новинка</span>
					<span class="badge bg-danger rounded-2 me-1">Акция</span>
				</div>
			
			</div>
			
			
			{# Превью  #}
			
			{% set img_path = card.product_image_cdn == true ? cdn_host : '' %}
			{% set product_image_ext = card.product_image_cdn == true ? 'small.'~card.product_image_ext : card.product_image_ext %}
			
			
			<a href="{{ path('Product:user.detail', { url: card.url,
				offer : card.product_offer_value,
				variation : card.product_variation_value,
				modification : card.product_modification_value
			}) }}">
				
				<img data-src="{{ card.product_image ? img_path ~ card.product_image ~ product_image_ext : '/assets/img/blank.svg' }}"
						src="/assets/img/empty.png" class="lazy card-img-top "
						alt="{{ card.product_name }}"
						title="{{ card.product_name }}"
				>
			</a>
			
			{# style="margin-bottom: -50px;" #}
		
		</div>
		
		<div class="card-body p-3">
			
			{% if card.product_price %}
				
				<small class="small text-decoration-line-through text-danger fw-bold lh-1">
					{# TODO: СКИДКА #}
					{{ money(random(1000000, 2000000), card.product_currency) }}
				</small>
				
				<div class="card-price-wrap d-flex justify-content-between align-items-end mb-2">
					
					{# Стоимость продукта #}
					<div class="card-price d-flex flex-column align-items-end">
						<span class="fw-bolder h5 mb-0 lh-1">
							{{ money(card.product_price, card.product_currency) }}
						</span>
					</div>
					
					{# Кнопка покупки товара #}
					<button class="btn btn-sm btn-danger py-0 pb-1 rounded-3"
							aria-label="Купить"
					>
						<span class="px-2">купить</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
								class="bi bi-cart3" viewBox="0 0 16 16">
							<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
						</svg>
					</button>
				
				</div>
			{% else %}
				
				<small class="small lh-1">&nbsp;</small>
				
				<div class="card-price-wrap d-flex justify-content-between align-items-end mb-2">
					
					<div class="card-price d-flex flex-column align-items-end">
						<div class="fw-bolder h4 mb-0 lh-1"></div>
					</div>
					
					{# Кнопка запроса цены  #}
					<button class="btn btn-sm btn-danger py-0 pb-1 rounded-3 w-100"
							aria-label="Цена по запросу"
					>
						<span class="px-2">Цена по запросу</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
								class="bi bi-cart3" viewBox="0 0 16 16">
							<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
						</svg>
					</button>
				
				</div>
			{% endif %}
			
			
			<h2 class="card-title mb-2 h6">
				<a href="{{ path('Product:user.detail', { url: card.url,
						offer : card.product_offer_value,
						variation : card.product_variation_value,
						modification : card.product_modification_value
					}) }}" class="text-decoration-none text-dark">
					{{ card.product_name }}
					
					{# Значение торгового предложения #}
					{{ card.product_offer_value|call_twig_func(card.product_offer_reference) }}
					
					{# Значение множественного варианта ТП #}
					{{ card.product_variation_value|call_twig_func(card.product_variation_reference) }}
					
					{# Значение модификации множественного варианта ТП #}
					{{ card.product_modification_value|call_twig_func(card.product_modification_reference) }}
					
					
					
					{# Свойства, учавствующие в названии #}
					{% for name_property in arr_property | filter(props => props.field_name == true) %}
						{{ name_property.props.field_value|call_twig_func(name_property.field_type) }}
					{% endfor %}
					
					
				</a>
			</h2>
			
		
			<div class="d-flex justify-content-between">
				
				
				<div class="d-flex gap-1 small align-items-center">
					
					{# Рейтинг товара #}
					<div class="d-flex gap-1 align-items-center">
						{{ include(_self|replace({ "card.html.twig": "rating.html.twig" })) }}
					</div>
					
					{# Количество отзывов  #}
					<a href="#" class="small ms-1">99 отзывов</a>
				
				</div>
				
				
				<div class="badge bg-hit rounded-2">
					Хит
				</div>
			
			</div>
			
			<div class="card-labels d-flex align-items-center gap-2 mt-2">
				{# Свойства, учавствующие в ПРЕВЬЮ #}
				{% for name_property in arr_property | filter(preview => preview.card == true) %}
					{{ name_property.field_name|call_twig_func(name_property.field_type~'_render') }}
				{% endfor %}
			
			</div>
		</div>
	</div>

{% endif %}