{# @var card \BaksDev\Orders\Order\Repository\ProductUserBasket\ProductUserBasketResult #}

<div class="row">

    <div class="col-12">

        {% if isProducts %}

            {% set total_summ_product = 0 %}
            {% set total_count_product = 0 %}
            {% set total_summ_currency = null %}

            {% for product in form.product %}

                {% set card = product.vars.data.card %}

                {% set summ = (product.price.vars.data.total * card.productPrice.value) %}

                {% set total_summ_product = (total_summ_product + summ) %}
                {% set total_count_product = total_count_product + product.price.vars.data.total %}
                {% set total_summ_currency = card.productCurrency %}

            {% endfor %}

            <div class="accordion" id="basket-accordion">

                {# 1 - Список товаров в корзине #}
                <div id="basket-list" class="accordion-collapse collapse show" data-bs-parent="#basket-accordion">

                    <div class="accordion-body">

                        <div class="d-flex align-items-center mb-4 justify-content-between">

                            <h1 class="h4 text-uppercase fw-bolder py-2">Список товаров</h1>

                            <div class="d-flex align-items-center gap-1">

                               <span>В корзине
                                   <span class="text-primary">&nbsp;
                                       <span class="total-count">{{ total_count_product }}</span>
                                       ед. товара
                                   </span>
                               </span>

                                {# Очистить корзину #}
                                <a href='{{ path('orders-order:public.truncate') }}' class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightgray"
                                         class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                                    </svg>

                                    <u style="font-size: 12px">Очистить корзину</u>
                                </a>

                                <button class="btn border fw-bold text-secondary btn-alt rounded-5 active"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#basket-ordering"
                                        aria-controls="basket-ordering"
                                        aria-expanded="false"
                                        type="button">
                                    Оформить заказ
                                </button>

                            </div>

                        </div>

                        <div class="border px-4 py-2 rounded-4 mb-3">
                            {{ include(_self|replace({ "_includes/basket_accordion.html.twig" : "_form/products.html.twig" })) }}
                        </div>

                    </div>

                </div>

                {# 2 - Данные для оформления заказа #}
                <div id="basket-ordering" class="accordion-collapse collapse" data-bs-parent="#basket-accordion">

                    <div class="accordion-body">

                        {# BASKET INFO #}
                        <div class="d-flex align-items-center mb-4 justify-content-between">

                            <h1 class="h4 text-uppercase fw-bolder py-2">Оформление заказа</h1>

                            <div class="d-flex align-items-center gap-2">

                                <span class="me-3 small">
                                    Позиций в корзине:
                                    <span class="text-primary fw-bold">
                                        {{ baks_basket.counter }} {{ 'num_of_products'|trans({'count': baks_basket.counter}, 'messages') }}
                                    </span>
                                </span>

                                <button class="btn border fw-bold text-secondary btn-alt rounded-5"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#basket-list"
                                        aria-controls="basket-list"
                                        aria-expanded="true"
                                        type="button">
                                    Корзина
                                </button>
                            </div>

                        </div>

                        {# Оформление заказа #}
                        {# Доставка #}
                        {{ include(_self|replace({ "_includes/basket_accordion.html.twig" : "_form/delivery.html.twig" })) }}

                        {# Профиль пользователя #}
                        {{ include(_self|replace({ "_includes/basket_accordion.html.twig" : "_form/user_profile.html.twig" })) }}


                        <div class="row justify-content-between fw-medium">

                            {# Оплата #}
                            <div class="col-3">
                                {{ include(_self|replace({ "_includes/basket_accordion.html.twig" : "_form/payment.html.twig" })) }}
                            </div>

                            {# Итого #}
                            <div class="col-3">

                                {# {% set discount = user_profile_discount(total_summ_product) %} #}

                                <div class="w-100 pb-1 rounded-4">

                                    <div class="d-flex align-items-center justify-content-start fw-bold">

                                        <p class="lh-1">
                                            Итого:
                                            {# <span id="total_result" class="fs-3">{{ discount ?  money(discount) : money(total_summ_product) }}</span> #}
                                            <span id="total_result" class="fs-3">
                                                {{ money((total_summ_product * 100), total_summ_currency) }}
                                            </span>
                                        </p>

                                    </div>

                                    {{ form_widget(form.order, {
                                        label: '<span>' ~ 'Оформить заказ'|trans({}, 'core.btn') ~'</span>' ~ '<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>',
                                        attr: {
                                            'class': 'btn bg-primary rounded-4 py-2 mb-2 fw-bold w-100',
                                            'title' : "Оформить заказ", 'aria-label' : "Оформить заказ",
                                        }}
                                    ) }}
                                </div>

                                <p class="text-secondary mb-1" style="font-size:11px;">
                                    * Поля, обязательные к заполнению
                                </p>

                                {# Пользовательское соглашение #}
                                <p class="fw-bold" style="font-size:11px;">
                                    Нажимая на кнопку «Оформить заказ» Вы
                                    соглашаетесь с условиями
                                    <a href="{{ path('auth-email:public.agree.terms') }}" class="text-black">
                                        пользовательского соглашения.
                                    </a>
                                </p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        {% else %}

            {# ПУСТАЯ КОРЗИНА #}
            <div class='d-flex justify-content-between align-items-center'>

                <div>
                    <h3>Ваша корзина пуста.</h3>
                    Начните с главной страницы или воспользуйтесь поиском.
                </div>

                <a href='{{ path('core:public.homepage') }}'
                   class="btn bg-primary py-2 px-6 fw-bold rounded-3">
                    <span class="h6 text-uppercase px-3 basket-text">Продолжить покупки</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
                </a>

            </div>

        {% endif %}
    </div>
</div>
