{{ form_start(filter) }}


<div class="d-flex justify-content-end align-items-center my-1 gap-2">

    {% if filter.all is defined %}
        <div>
            <div class="d-flex justify-content-around radio-buttons clearfix"
                 data-buttons="true"
                 style="clear: both"
            >
                <label class="btn p-1 border-dotted rounded-3 w-100 {{ filter.all.vars.data ? 'active' }}">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">

                            <div class="d-flex align-items-center">
                                {{ form_widget(filter.all, { label: false }) }}
                                <div class="form-check ps-0">
                                    {# Продукт активный #}
                                    {{ 'Все'|trans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    {% endif %}

    {% if filter.materials is defined %}
        <div>
            <div class="d-flex justify-content-around radio-buttons clearfix"
                 data-buttons="true"
                 style="clear: both"
            >
                <label class="btn p-1 border-dotted rounded-3 w-100 {{ filter.materials.vars.data ? 'active' }}">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">

                            <div class="d-flex align-items-center">
                                {{ form_widget(filter.materials, { label: false }) }}
                                <div class="form-check ps-0 text-nowrap">
                                    {# Продукт активный #}
                                    {{ 'Без сырья'|trans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    {% endif %}

    {% if filter.vars.data.invisible is defined and filter.vars.data.invisible == false %}

        <div class="w-25">
            {{ form_widget(filter.category, { placeholder: 'Все категории ...', attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
        </div>

    {% endif %}

    {% if filter.vars.data.category %}

        {% if filter.offer is defined %}
            <div class="w-25">
                {{ form_widget(filter.offer, { placeholder: filter.offer.vars.label~' ...' , attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
            </div>
        {% endif %}

        {% if filter.variation is defined %}
            <div class="w-25">
                {{ form_widget(filter.variation, { placeholder: filter.variation.vars.label~' ...', attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
            </div>
        {% endif %}

        {% if filter.modification is defined %}
            <div class="w-25">
                {{ form_widget(filter.modification, { placeholder:  filter.modification.vars.label~' ...', attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
            </div>
        {% endif %}

        {% if filter.property is defined %}
            {% if filter.property|length %}

                <button class="btn btn-light" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ filter.vars.name }}"
                        role="button"
                        aria-expanded="false"
                        aria-controls="{{ filter.vars.name }}"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-filter" viewBox="0 0 16 16">
                        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </button>

            {% else %}
                {{ form_widget(filter.property) }}
            {% endif %}
        {% endif %}

    {% endif %}

</div>

{% if filter.property is defined and filter.property|length %}
    <div class="position-relative z-1 bg-white">
        <div class="position-absolute ">
            <div class="collapse multi-collapse mt-3 bg-white p-3 shadow rounded-3"
                 id="{{ filter.vars.name }}">
                <div class="row row-cols-2 g-4">
                    {% if filter.property is defined %}
                        {% for property in filter.property %}
                            <div class="col">
                                <div class="card px-3 pt-3 border-light" style="box-shadow: none;">
                                    {{ form_row(property) }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}


{{ form_end(filter) }}