{% for item in result %}

{#

"modification_value" => "60"
"modification_postfix" => "88T"
"variation_value" => "195"
"variation_postfix" => null
"offer_value" => "15"
"offer_postfix" => null
"search_name" => "Triangle TR777"
"search_url" => "triangle_tr777"
"category_name" => "Triangle"
"category_url" => "triangle"
"product_image" => "/upload/product_photo/6502e4603b080"
"product_image_ext" => "webp"
"product_image_cdn" => true
]

#}

    {# Обложка  #}
    {% set image_path = '/assets/img/blank.svg' %}

    {% if item.product_image_ext is defined and item.product_image_ext is not null %}
        {% set img_host =  item.product_image_cdn == true  ? CDN_HOST : '' %}
        {% set img_dir = item.product_image %}
        {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ item.product_image_ext %}
        {% set image_path = img_host ~ img_dir ~ img_file %}
    {% endif %}

    <li>
        <a href="{{ path('products-product:user.detail', {
            url: item.search_url,
            offer : item.offer_value,
            variation : item.variation_value,
            modification : item.modification_value
        }) }}" class="d-flex gap-3 align-items-center w-100 text-decoration-none dropdown-item rounded-3 p-2 pb-1 ">
            <div>
                <div class="icon rounded-4 mb-2 {{ item.product_image_ext ? 'bg-contain' : 'bg-cover' }} p-1"
                     style="width: 75px; height: 75px; background-image: url({{ image_path }});"></div>
            </div>

            <div class="small">
                <div class="badge bg-secondary mb-1">
                    {{ item.category_name }}
                </div>
                <div class="text-primary fw-bolder">
                    {{ item.search_name }}

                    {{ item.variation_value ~ "/" ~
                    item.modification_value }}

                    R{{ item.offer_value }}

                    {{ item.modification_postfix }}
                    {{ item.variation_postfix }}
                    {{ item.offer_postfix }}
                </div>
                <div class="small text-muted">
                    <small>{{ item.search_desc|trans({
                            '%PRODUCT_NAME%' : null,
                            '%PRODUCT_OFFER%' : null,
                            '%PRODUCT_VARIATION%' : null,
                            '%PRODUCT_MOD%' : null,
                        })|trim }}</small>
                </div>
            </div>
        </a>
    </li>
{% endfor %}


{#<a href="{{ path('products-product:user.detail', { url: card.url,
    offer : product_offer.offer_value,
    variation : product_offer.variation_value,
    modification : product_offer.modification_value
}) }}" >#}
