{% if card %}

    {% set discount = user_profile_discount(card.product_price) %}

    {% set arr_property = card.category_section_field|json_decode %}


    <div data-id='{{ card.id }}' class="card rounded-4 mb-3 mx-1">

        <div class="card-image-wrap overflow-hidden border rounded-4 " style="height: 150px;">


            <div class="d-flex align-items-center gap-1 small px-1">

                <div class="flex-grow-1">
                    <button class="btn btn-link p-0 card-favorites"
                            title="Добавить в избранное"
                            data-id="{{ card.id }}"
                    >
                        <img data-src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNCMUI2QkIiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOCAxLjMxNEMxMi40MzgtMy4yNDggMjMuNTM0IDQuNzM1IDggMTUtNy41MzQgNC43MzYgMy41NjItMy4yNDggOCAxLjMxNHoiPjwvcGF0aD48L3N2Zz4K"
                             width="15" height="15"
                             src="/assets/img/empty.png"
                             class="lazy"
                             alt="Добавить в избранное"
                        >
                    </button>

                </div>

                {# <span class="badge bg-success rounded-2 small">Новинка</span> #}

                {% if discount %}
                    <span class="badge bg-danger rounded-2 small">-{{ baks_profile.profile_discount }}%</span>
                {% endif %}

            </div>



            {# Обложка  #}
            {% set image_path = '/assets/img/blank.svg' %}

            {% if card.product_image_ext is defined and card.product_image_ext is not null %}
                {% set img_host = card.product_image_cdn == true  ? CDN_HOST : '' %}
                {% set img_dir = card.product_image %}
                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ card.product_image_ext %}
                {% set image_path = img_host ~ img_dir ~ img_file %}
            {% endif %}


            <a href="{{ path('products-product:user.detail', {
                category: card.category_url,
                url: card.url,
                offer : card.product_offer_value,
                variation : card.product_variation_value,
                modification : card.product_modification_value
            }) }}" class="py-3" title="{{ card.product_name }}">


                <div class="lazy h-100 bg-cover position-relative"  data-bg="{{ image_path }}"
                     title="{{ card.product_name }}">

                    <div class="position-absolute bottom-0 mb-4 pb-2 ms-1">
                        {% for name_property in arr_property | filter(preview => preview.field_photo == true) %}
                            {{ name_property.field_value|call_twig_func(name_property.field_type~'_render') }}
                        {% endfor %}
                    </div>

                </div>



                {#<img data-src="{{ card.product_image ? img_path ~ card.product_image ~ product_image_ext : '/assets/img/blank.svg' }}"
                     src="/assets/img/empty.png"
                     class="lazy card-img-top w-100"
                     width="156"
                     alt="{{ card.product_name }}"
                     title="{{ card.product_name }}"
                >#}
            </a>

        </div>

        <div class="card-body p-2">
            {% if card.product_price %}

                <div class="card-price-wrap d-flex justify-content-between ">
				
				<span class="fw-bolder h4">
					
					{{ discount ? money(discount, card.product_currency) : money(card.product_price, card.product_currency) }}
					
				</span>
                    <small class="small text-decoration-line-through text-danger fw-bold">
                        {% if discount %}
                            {{ money(card.product_price, card.product_currency) }}
                        {% endif %}
                    </small>

                     {#<button class="btn btn-sm btn-danger py-0 pb-1 rounded-3" role="button" title="Купить">

						<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
							 class="bi bi-cart3" viewBox="0 0 16 16">
							<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
						</svg>
					</button>#}
                </div>

            {% endif %}

            <div class="small lh-normal fw-bolder" style='min-height: 1.8rem;'>

                <a href="{{ path('products-product:user.detail', {
                    category: card.category_url,
                    url: card.url,
                    offer : card.product_offer_value,
                    variation : card.product_variation_value,
                    modification : card.product_modification_value
                }) }}" class="text-decoration-none text-dark small">

                    {{ card.product_name }}<br>

                    {# Значение множественного варианта ТП #}
                    {{ card.product_variation_value|call_twig_func(card.product_variation_reference~'_render') ~
                    card.product_modification_value|call_twig_func(card.product_modification_reference~'_render') }}

                    {# Значение торгового предложения #}
                    {{ card.product_offer_value|call_twig_func(card.product_offer_reference~'_render') }}

                    {# Постфикс множественного варианта #}
                    {{ card.product_variation_postfix }}
                    {# Постфикс торгового предложения #}
                    {{ card.product_offer_postfix }}
                    {# Постфикс модификации #}
                    {{ card.product_modification_postfix }}





                    {# Значение модификации множественного варианта ТП #}



                    {# Свойства, учавствующие в названии #}
                    {% for name_property in arr_property | filter(props => props.field_name == true) %}
                        {{ name_property.field_value|call_twig_func(name_property.field_type) }}
                    {% endfor %}

                </a>
            </div>

            {# <div class="d-flex justify-content-between">

			<div class="d-flex gap-1 align-items-center">
            #}{# {{ include(_self|replace({ "content.html.twig": "rating.html.twig" })) }} #}{#
            #}{# {% include '@Template/default/user/mobile/includes/rating.html.twig' %} #}{#
            #}{# <a href="#reviews" class="small ms-2" title="Отзывы">9 отзывов</a> #}{#
            </div>

            <div>
                <span class="badge bg-hit rounded-2">Хит</span>
            </div>
        </div> #}

            <div class="d-flex justify-content-between">

                <div class="card-labels d-flex align-items-center gap-2">
                    {# Свойства, учавствующие в ПРЕВЬЮ #}

                    {% for name_property in arr_property | filter(preview => preview.field_card == true) %}
                        {{ name_property.field_value|call_twig_func(name_property.field_type~'_render') }}
                    {% endfor %}
                </div>

                <button data-href="{{ path('orders-order:user.add', {
                    product: card.event,
                    offer : card.product_offer_uid,
                    variation : card.product_variation_uid,
                    modification : card.product_modification_uid
                }) }}"
                   class="btn btn-sm btn-danger rounded-3 modal-link add-basket"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="Купить"
                >
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="text-white" viewBox="0 0 18 18">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                        </svg>
                    </div>
                </button>
            </div>



        </div>
    </div>
{% endif %}