{% trans_default_domain('user.status') %}

    {% set NewStatus = 'new' %}
    {% set CompletedStatus = 'completed' %}

<main>

    {{ include(_self|replace({ "content.html.twig" : "_includes/breadcrumb.html.twig" })) }}

    <section class="container px-3">

        {# АКТИВНЫЕ ЗАКАЗЫ #}
        {% if status == NewStatus %}

            {# ССЫЛКЫ НА ЗАКАЗЫ #}
            <div class="d-flex align-items-center gap-2 mb-2">

                <div class="btn border fw-bold text-secondary btn-alt rounded-5 active">
                    Активные заказы
                </div>

                <a href="{{ path('orders-order:user.orders',
                    { status: CompletedStatus
                    } ) }}"
                   class="btn border fw-bold text-secondary btn-alt rounded-5 ">
                    Завершенные заказы
                </a>

            </div>

            {% if orders.data is not empty %}

                {{ include (_self|replace({ "content.html.twig" : "_includes/products.html.twig" }), { 'orders': orders.data }, with_context = false) }}

                {% include Template('/user/pc/includes/pagination.html.twig') with { 'pagination' : orders } %}

            {% else %}

                <div class="d-flex align-items-center gap-2 mb-2">

                    <h2 class="fs-18 mb-0 text-uppercase fw-bold mb-2">
                        Активных заказов нет
                    </h2>

                </div>

                {% include Template('/user/pc/includes/pagination.html.twig') with { 'pagination' : orders } %}

            {% endif %}
        {% endif %}

        {# ЗАВЕРШЕННЫЕ ЗАКАЗЫ #}
        {% if status == CompletedStatus %}

            {# ССЫЛКЫ НА ЗАКАЗЫ #}
            <div class="d-flex align-items-center gap-2 mb-2">

                <a href="{{ path('orders-order:user.orders',
                    { status: NewStatus
                    } ) }}"
                   class="btn border fw-bold text-secondary btn-alt rounded-5">
                    Активные заказы
                </a>

                <div class="btn border fw-bold text-secondary btn-alt rounded-5 active">
                    Завершенные заказы
                </div>

            </div>

            {% if orders.data is not empty %}

                {{ include (_self|replace({ "content.html.twig" : "_includes/products.html.twig" }), { 'orders': orders.data }, with_context = false) }}

                {% include Template('/user/pc/includes/pagination.html.twig') with { 'pagination' : orders } %}

            {% else %}

                <div class="d-flex align-items-center gap-2 mb-2">

                    <h2 class="fs-18 mb-0 text-uppercase fw-bold mb-2">
                        Завершенных заказов нет
                    </h2>

                </div>

                {% include Template('/user/pc/includes/pagination.html.twig') with { 'pagination' : orders } %}

            {% endif %}


        {% endif %}

    </section>

</main>


