<main class="main">
	
	{{ include(_self|replace({ "content.html.twig": "banner.html.twig" })) }}
	
	{{ include(_self|replace({ "content.html.twig": "filter.html.twig" })) }}
	
	
	
	{# {{ dd(category) }} #}
	
{#	{% for key, cat in categories %}#}
		
		{% if cards|length %}
		
		
		
		<section class="cards-box mt-5">
			<div class="container">
				<div class="row">
					
					<div class="col-9">
						<div class="d-flex gap-4">

							<div class="d-flex gap-4">
								<h2 class="text-uppercase h5 fw-bolder">Автомобильные шины</h2>
								<a href="{# {{ path('products-product:user.catalog.category', { category : cat.category_url }) }} #}"
								   class="small text-lowercase">Все шины</a> {# {{ cat.category_name }} #}
							</div>
{#							<h2 class="text-uppercase h5 fw-bolder">{{ cat.category_name }}</h2>#}
{#							<a href="{{ path('products-product:user.catalog.category', { category : cat.category_url }) }}"#}
{#									class="small text-lowercase">Все {{ cat.category_name }}</a>#}
{#							#}
{#							{% if is_granted('ROLE_ADMIN') %}#}
{#								<a href="/refresh" class="btn  btn-link text-muted">#}
{#									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"#}
{#											class="mb-1" viewBox="0 0 16 16">#}
{#										<path fill-rule="evenodd"#}
{#												d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>#}
{#										<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>#}
{#									</svg>#}
{#								</a>#}
{#							{% endif %}#}
						</div>



					{% if cards %}

						{# КАРТОЧКИ ТОВАРОВ #}
						<div class="row cards-box-body mt-3">
							{% for card in cards %}
								<div class="col-3">
{#									{% include Template('/user/pc/includes/card.html.twig') with { 'card': product }  %}#}
									{% include Template('@products-product/public/' ~baks_settings.device~ '/card_model_or_product.html.twig') with {card} only %}
								</div>
							{% endfor %}
						</div>
					{% else %}
						<h2 class="fs-18 mb-0 text-uppercase fw-bold">
							Товар временно нет в наличии
						</h2>
					{% endif %}
					</div>

					<div class="col-3">
						
						{# ЛИДЕРЫ ПРОДАЖ #}

						{{ include (_self|replace({ "content.html.twig" : "includes/best_offers.html.twig" }), { bestOffers}, with_context = false) }}
						

						{# МЕСТО ВАШЕЙ РЕКЛАМЫ #}
						
						{# <a href="#" class="side-bar-image rounded-4 overflow-hidden w-100 mt-4 d-flex"
								aria-label="Место Вашей рекламы">
							<img data-src="/temp/img/reimage.webp" src="/assets/img/empty.png" class="lazy w-100" alt="...">
						</a> #}
					
					</div>
				
				</div>
			</div>
		</section>
		
		{% endif %}
		{# {{ dump(products[cat.id]) }} #}
	
{#	{% endfor %}#}
	
	
	{# СКИДКИ #}
	
	
	{# <section id="action" class="mt-4 container">
		<div class="w-100 d-flex gap-3 justify-content-between">
			
			{% for i in 0..3 %}
				 #}{# {% include('@Template/default/user/pc/includes/action.html.twig') %} #}{#
				{% include(Template('/user/pc/includes/action.html.twig')) %}
			{% endfor %}
		</div>
	</section> #}
	
	
	{# ПРОСТМОРЕННЫЕ #}
	{# <section id="viewed" class="mt-4 container">
		<div class="rounded-4 bg-light">
			<h2 class="text-uppercase h5 fw-bolder px-3 pt-3">Просмотренные</h2>
			
			<div class="w-100 d-flex gap-3 justify-content-between p-4">
				{% for i in 0..3 %}
					 #}{# {% include('@Template/default/user/pc/includes/viewed.html.twig') %} #}{#
					{% include(Template('/user/pc/includes/viewed.html.twig')) %}
				{% endfor %}
			</div>
		</div>
	</section> #}
	
	
	<section class="about-box mt-5">
		
		<div class="container">
			
			<div class="row">
				<div class="col">
					
					<h2 class="text-uppercase h5 fw-bolder mb-4">ООО «Triangle-шины»</h2>
					
					{{ include(_self|replace({ "content.html.twig": "maps.html.twig" })) }}
				</div>
				
				{# ОТЗЫВЫ #}
				{# <div class="col-3">
					<div class="d-flex align-items-stretch mb-4">
						<h2 class="text-uppercase me-4 h5 fw-bolder">отзывы</h2>
						<a href="#" class="">Все отзывы</a>
					</div>
					
					 #}{# {{ include(_self|replace({ "content.html.twig": "reviews.html.twig" })) }} #}{#
					
					 #}{# {% include('@Template/default/user/pc/includes/reviews.html.twig') %} #}{#
					{% include(Template('/user/pc/includes/reviews.html.twig')) %}
				</div> #}
			
			</div>
		</div>
	</section>
</main>


