{% trans_default_domain 'user.reg' %}

<main class="main">
	
	<div class="mt-5">
		{# {{ include(_self|replace({ "content.html.twig": "breadcrumb.html.twig" })) }} #}
	</div>
	
	<div class="container d-flex flex-column justify-content-center w-100 my-5 pb-3">
		
		
		<div class="d-flex gap-3 mb-4 align-items-center small">
			<h3 class="modal-title text-uppercase h4 fw-bold w-75">
				{{ 'user.page'|trans }}
			</h3>
			<a href="{{ path('auth-email:user.login') }}" class="small py-1"
					aria-label="{{ 'user.link.breadcrumb.page'|trans({}, 'user.login') }}"
					title="{{ 'user.link.breadcrumb.page'|trans({}, 'user.login') }}"
			>
				{{ 'user.link.breadcrumb.page'|trans({}, 'user.login') }}
			</a>
		</div>
		
		
		<div class="w-100">
			{# ФОРМА РЕГИСТРАЦИИ #}
			{{ include(_self|replace({ "content.html.twig": "_form.html.twig" })) }}
		</div>
	
	</div>

</main>


