<main>
    {# БЛОК ДЛЯ ВЫБОРА КАТЕГОРИЙ #}
    {{ include(_self|replace({ "content.html.twig" : "includes/categories.html.twig" }), {'categories': categories }, with_context = false) }}

    {# КАТАЛОГ ШИН #}
    <section class="container py-3">

        {% for categoryId, category in categories %}

            {% if products[category.id] and bestOffers[category.id] %}

                <div class="row ">

                    <div class="col-9 ">
                        <div class="d-flex align-items-center gap-5 mb-3">
                            <h2 class="fs-18 mb-0 text-uppercase fw-bold">
                                {{ category.category_name }}
                            </h2>
                            <a href="{{ path('products-product:user.catalog.category', { category : category.category_url }) }}"
                               class="text-black">
                                <button class="btn bg-primary rounded-5 fw-medium text-nowrap">
                                    Все {{ category.category_name }}
                                </button>
                            </a>

                            {% set filter = filters[category.id] %}
                            {% include Template('@products-product/filter/'~baks_settings.device~'/filter.html.twig') %}

                        </div>

                        <div class="row row-cols-4 gy-5">

                            {% for product in products[category.id] %}
                                <div class="col p-1 px-2">
                                    {# КАРТОЧКА ТОВАРА #}

                                    {% if product %}

{#                                        {{ include (_self|replace({ "content.html.twig" : "_includes/card.html.twig" }), { product }, with_context = false) }}#}
                                        {% include Template('@products-product/public/' ~baks_settings.device~ '/card_product.html.twig') with {product} only %}
                                    {% endif %}
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="col-3 ">
                        {# ЛИДЕРЫ ПРОДАЖ #}
                        {{ include (_self|replace({ "content.html.twig" : "includes/best_offers.html.twig" }), { 'bestOffers' : bestOffers[category.id] }, with_context = false) }}
                    </div>

                </div>
            {% endif %}
        {% endfor %}

    </section>
</main>

