{% trans_default_domain 'user.restore' %}


{{ form_start(form, { attr: { class: 'shadow d-flex flex-column align-items-end p-5 rounded-3 w-100' } }) }}

<div class="d-flex justify-content-between w-100 mb-4 align-items-end small ps-3">
	<h3 class="text-uppercase h4 fw-bold mb-0">{{ 'user.page'|trans }}</h3>
	
	<a href="{{ path('auth-email:user.registration') }}" class="small py-1"
			aria-label="{{ 'user.page'|trans({}, 'user.reg') }}"
			title="{{ 'user.page'|trans({}, 'user.reg') }}"
	>
		{{ 'user.page'|trans({}, 'user.reg') }}
	</a>
</div>

<div class="d-flex flex-column gap-3 w-100 small ps-3">
	
	<div class="w-100 d-flex flex-column gap-2">
		{{ form_row(form.email, {
			label: 'user.form.label.email'|trans
		}) }}
	</div>
	
	
	{{ form_row(form.restore, {
		label: '<span>'~ 'user.btn.restore'|trans() ~'</span>
				<span id="'~form.restore.vars.id~'-progress" class="spinner-border spinner-border-sm d-none"></span>
			',
		attr: { class : 'btn btn-lg btn-danger w-100 rounded-3 text-uppercase fw-bolder' }
	}) }}

</div>
{{ form_end(form) }}