{# ---- ШАБЛОН ------------------------------------------------------------ #}
{% extends Template('/user/base.html.twig') %}

{% block title %}Доставка{% endblock %}

{# ---- CSS ------------------------------------------------------------ #}
 {% block stylesheets %}
     <link href="/assets/plugins/nice-select2/nice-select2.min.css" rel="stylesheet">
 {% endblock %}

{# ---- HEADER-БЛОК ------------------------------------------------------------ #}
{# {% block header %}
    {{ include(_self|replace({ "template.html.twig": "header.html.twig" })) }}
{% endblock %} #}


{# ---- LEFT-БЛОК ------------------------------------------------------------ #}
{# {% block left %} #}
{#   {% include '@Template/flowers/left.html.twig' %} #}
{# {% endblock %} #}

{# ---- КОНТЕНТ-БЛОК ------------------------------------------------------------ #}
{% block content %}
   

    {{ include(_self|replace({ "template.html.twig":baks_settings.device~"/content.html.twig" })) }}

    {# CSS #}
    <div style="display: none !important;" class="alert alert-warning border-bottom-0"></div>
{% endblock %}


{# ---- FOOTER-БЛОК ------------------------------------------------------------ #}
{#{% block footer %}
    #}{#{{ include(_self|replace({ "template.html.twig": "footer.html.twig" })) }}#}{#
{% endblock %}#}

 {% block javascript %}
 <script async nonce="{{ csp_nonce() }}" data-src='/assets/plugins/nice-select2/nice-select2.min.js' class='lazy'></script>
 
  <script nonce="{{ csp_nonce() }}" >
  
  document.getElementById('region_filter_form_region').addEventListener('change', () => {
      let $form = document.forms.namedItem("region_filter_form");
      if ($form) { $form.submit(); }
  });
  
  document.getElementById('btn_pickup').addEventListener('click', () => {
      /* Плавная прокрутка к элементу */
        document.getElementById('pickup').scrollIntoView({block: "center", inline: "center", behavior: "smooth"});
  });
  
  
</script>
 
 
 {% endblock %}

