{#<div class="border rounded-4 p-3 small">#}

    {% set current_offer = product_offers|first %}

    {% set name_offer = current_offer.product_offer_name %}
    {% set name_variation = current_offer.product_variation_name %}
    {% set name_modification = current_offer.product_modification_name %}

{#{% set product_offer = product_offers|filter(v => v.quantity > 0) %}#}

                {% for offers in product_offers %}

                    {% set arr_property = offers.category_section_field|json_decode %}


                    <tr class="vertical-middle">
                        <td>
                            <strong>{{ offers.product_offer_value|call_twig_func(offers.product_offer_reference~'_render') }}</strong>
                        </td>

                        <td>
                            <div>

                                <a href="{{ path('products-product:user.detail', {
                                    url: offers.product_url,
                                    offer : offers.product_offer_value,
                                    variation : offers.product_variation_value,
                                    modification : offers.product_modification_value
                                }) }}">

                                    {{ offers.product_name }}<br>

                                    {{ offers.product_variation_value|call_twig_func(offers.product_variation_reference~'_render')
                                    ~ offers.product_modification_value|call_twig_func(offers.product_modification_reference~'_render') }}

                                    {{ offers.product_offer_value|call_twig_func(offers.product_offer_reference~'_render') }}
                                </a>

                            </div>

                        </td>

                       {# <td>
                            {{ offers.product_variation_value|call_twig_func(offers.product_variation_reference)
                            ~ offers.product_modification_value|call_twig_func(offers.product_modification_reference) }}

                            {{ offers.product_offer_value|call_twig_func(offers.product_offer_reference) }}
                        </td>#}

                        {#<td>
                            <div class="d-flex gap-2 align-items-center">

                                #}{#{{ dump(arr_property) }}#}{#

                                {% for name_property in arr_property %}
                                    {{ name_property.field_value|call_twig_func(name_property.field_type~'_render') }}
                                {% endfor %}

                                #}{# <span class="badge bg-success rounded-2">Новинка</span> #}{#
                                #}{# <span class="badge bg-hit rounded-2 ">Хит</span> #}{#
                            </div>
                        </td>#}

                        {#{% if name_variation %}
                            <td>{{ offers.product_variation_value|call_twig_func(offers.product_variation_reference~'_render') }}</td>
                        {% endif %}

                        {% if name_modification %}
                            <td>{{ offers.product_modification_value|call_twig_func(offers.product_modification_reference~'_render') }}</td>
                        {% endif %}#}

                        <td>

                            {% if offers.quantity >= 20 %}
                                <span class='text-success fw-bold'>более 20 шт.</span>

                            {% elseif offers.quantity == 0 %}
                                <span class='text-danger fw-bold'>Нет в наличии</span>

                            {% else %}
                                <span class='text-warning fw-bold'>менее 20 шт.</span>
                            {% endif %}

                        </td>

                        <td>

                            {% if offers.price %}
                                {% set discount_alt = user_profile_discount(offers.price) %}

                                {{ discount_alt ? money(discount_alt, offers.currency) : money(offers.price, offers.currency) }}

                                {#  Пользовательская скидка #}
                                {% if discount_alt %}
                                    <span class="badge bg-danger rounded-2 ms-1"><span
                                                class="text-uppercase">-{{ baks_profile.profile_discount }}%</span></span>
                                {% endif %}
                            {% else %}
                                <span class='text-danger fw-bold'>цена по запросу</span>
                            {% endif %}

                        </td>

                        <td>

                            {% if offers.quantity and offers.price %}
                                <button data-href="{{ path('orders-order:user.add', {
                                    product: offers.event,
                                    offer : offers.product_offer_uid,
                                    variation : offers.product_variation_uid,
                                    modification : offers.product_modification_uid
                                }) }}"
                                   class="btn btn-sm btn-primary rounded-circle modal-link add-basket"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal"
                                   title="Купить"
                                   aria-label="Купить"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="text-white" viewBox="0 0 18 18">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                    </svg>
                                </button>

                            {% else %}
                                <button
                                   class="btn btn-sm btn-light rounded-circle modal-link add-basket"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal"
                                   title="Купить"
                                   aria-label="Купить"
                                   disabled="disabled"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="text-muted" viewBox="0 0 18 18">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                    </svg>
                                </button>
                            {% endif %}


                            {# Добавить в избранное #}
                            {# <button class="btn btn-link pe-0"
									aria-label="Добавить в избранное">
								<img data-src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNCMUI2QkIiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOCAxLjMxNEMxMi40MzgtMy4yNDggMjMuNTM0IDQuNzM1IDggMTUtNy41MzQgNC43MzYgMy41NjItMy4yNDggOCAxLjMxNHoiPjwvcGF0aD48L3N2Zz4K"
										class="lazy" width="13" height="13">
							</button> #}
                        </td>
                    </tr>
                {% else %}

                    <div class="alert alert-warning rounded-4" role="alert">
                        <div class="d-flex align-items-baseline gap-3">
                            <div>
                                <div class="icon rounded-circle bg-contain p-2 bg-primary text-white small"
                                     style="width: 10px; height: 10px;"><span class="small">!</span></div>
                            </div>
                            <div>
                                К сожалению аналогов товара нет в наличии
                            </div>
                        </div>
                    </div>

                {% endfor %}


               {# </tbody>#}
            {#</table>
        </div>#}


        {% set radius = null %}

        {#{% for offers in product_offers %}

            {% if radius != offers.product_offer_value %}

                {% set radius = offers.product_offer_value %}

                {% set product_offer = product_offers|filter(v => v.product_offer_value == radius and v.quantity > 0) %}

                <div class="tab-pane fade " id="Id{{ offers.product_offer_value }}-tab-pane" role="tabpanel"
                     aria-labelledby="Id{{ offers.product_offer_value }}-tab" tabindex="0">

                    {% if product_offer|length %}


                        <table class="table table-striped table-borderless">

                            {{ tablehead }}

                            <tbody>

                            {% for offers in product_offer %}

                                <tr class="vertical-middle">
                                    <td>
                                        <strong>{{ offers.offer_value|call_twig_func(offers.offer_reference~'_render') }}</strong>
                                    </td>

                                    <td>
                                        {{ offers.article }}
                                    </td>

                                    <td>
                                        <div>
                                            <a href="{{ path('products-product:user.detail', { url: offers.url,
                                                offer : offers.offer_value,
                                                variation : offers.variation_value,
                                                modification : offers.modification_value
                                            }) }}">
                                                {{ offers.product_name }}
                                            </a>
                                        </div>
                                        <div class="d-flex gap-1">
                                            #}{# <span class="badge bg-success rounded-2">Новинка</span> #}{#
                                            #}{# <span class="badge bg-hit rounded-2 ">Хит</span> #}{#
                                        </div>
                                    </td>

                                    {% if name_variation %}
                                        <td>{{ offers.variation_value|call_twig_func(offers.variation_reference~'_render') }}</td>
                                    {% endif %}

                                    {% if name_modification %}
                                        <td>{{ offers.modification_value|call_twig_func(offers.modification_reference~'_render') }}</td>
                                    {% endif %}


                                    <td>

                                        {% if offers.quantity >= 20 %}
                                            <span class='text-success fw-bold'>более 20 шт.</span>

                                        {% else %}
                                            <span class='text-warning fw-bold'>менее 20 шт.</span>
                                        {% endif %}

                                    </td>

                                    <td>


                                        {% if offers.price %}
                                            {% set discount_alt = user_profile_discount(offers.price) %}

                                            {{ discount_alt ? money(discount_alt, offers.currency) : money(offers.price, offers.currency) }}

                                            #}{#  Пользовательская скидка #}{#
                                            {% if discount_alt %}
                                                <span class="badge bg-danger rounded-2 ms-1"><span
                                                            class="text-uppercase">-{{ baks_profile.profile_discount }}%</span></span>
                                            {% endif %}
                                        {% else %}
                                            <span class='text-danger fw-bold'>цена по запросу</span>
                                        {% endif %}


                                    </td>

                                    <td>
                                        {% if offers.price %}


                                            <a href="{{ path('orders-order:user.add', {
                                                product: card.event,
                                                offer : offers.offer_uid,
                                                variation : offers.variation_uid,
                                                modification : offers.modification_uid
                                            }) }}"
                                               class="btn btn-sm btn-primary rounded-circle modal-link add-basket"
                                               data-bs-toggle="modal"
                                               data-bs-target="#modal"
                                               title="Купить"
                                               aria-label="Купить"
                                            >
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="16"
                                                     height="16"
                                                     fill="currentColor"
                                                     class="text-white"
                                                     viewBox="0 0 18 18">
                                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                                </svg>
                                            </a>


                                        {% endif %}


                                    </td>
                                </tr>


                            {% endfor %}


                            </tbody>
                        </table>

                    {% else %}

                        <div class="alert alert-warning rounded-4 mt-3" role="alert">
                            <div class="d-flex align-items-baseline gap-3">
                                <div>
                                    <div class="icon rounded-circle bg-contain p-2 bg-primary text-white small"
                                         style="width: 10px; height: 10px;"><span class="small">!</span></div>
                                </div>
                                <div>
                                    К сожалению аналогов нет в наличии
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>

            {% endif %}

        {% endfor %}#}

