{% for item in result %}

{#    "search_name" => "Triangle TR737"
    "search_url" => "triangle_tr737"
    "category_name" => "Triangle"
    "category_url" => "triangle"
    "product_image" => "/upload/product_photo/6527e772db5f4"
    "product_image_ext" => "webp"
    "product_image_cdn" => true#}

    {# Обложка  #}
    {% set image_path = '/assets/img/blank.svg' %}

    {% if item.product_image_ext is defined and item.product_image_ext is not null %}
        {% set img_host =  item.product_image_cdn == true  ? CDN_HOST : '' %}
        {% set img_dir = item.product_image %}
        {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ item.product_image_ext %}
        {% set image_path = img_host ~ img_dir ~ img_file %}
    {% endif %}

    <li>
        <a href="{{ path('products-product:user.model', { url: item.search_url }) }}" class="d-flex gap-3 align-items-center w-100 text-decoration-none dropdown-item rounded-3 p-2 pb-1 ">
            <div>
                <div class="icon rounded-4 mb-2 {{ item.product_image_ext ? 'bg-contain' : 'bg-cover' }} p-1"
                     style="width: 75px; height: 75px; background-image: url({{ image_path }});"></div>
            </div>

            <div class="small text-muted">
                <div class="badge bg-secondary mb-1">{{ item.category_name }}</div>
                <div>{{ item.search_name }}</div>
            </div>
        </a>
    </li>

{% endfor %}


{#<a href="{{ path('products-product:user.detail', { url: card.url,
    offer : product_offer.offer_value,
    variation : product_offer.variation_value,
    modification : product_offer.modification_value
}) }}" >#}
