<nav class="small" style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
	<ol class="breadcrumb text-secondary small opacity-75">
		<li>
			<svg xmlns="http://www.w3.org/2000/svg"
					width="10"
					height="10"
					fill="currentColor"
					class="bi bi-caret-right-fill text-muted me-1"
					viewBox="0 0 16 16">
				<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
			</svg>
		</li>
		
		<li class="breadcrumb-item">
			<a href="{{ path('Pages:user.homepage') }}" class="text-muted"
					aria-label="{{ 'breadcrumb.homepage.user'|trans({}, 'pages') }}"
					title="{{ 'breadcrumb.homepage.user'|trans({}, 'pages') }}">
				{{ 'breadcrumb.homepage.user'|trans({}, 'pages') }}
			</a>
		</li>
		
		{# <li class="breadcrumb-item">
			<a href="{{ path('Product:user.catalog.category') }}" class="text-muted" aria-label="Продукция" title="Продукция">Продукция</a>
		</li> #}
		
		{# {{ dd(path('Product:user.detail', { url: card.url })) }} #}
		

		<li class="breadcrumb-item">
			<a href="{{ path('Product:user.catalog.category', { url : card.category_url }) }}" class="text-muted"
					aria-label="{{ card.category_name }}"
					title="{{ card.category_name }}">
				{{ card.category_name }}
			</a>
		</li>
		

		{% set breadcrumb_active_name = card.product_offer_value|call_twig_func(card.product_offer_reference)
			~card.product_variation_value|call_twig_func(card.product_variation_reference)
			~card.product_modification_value|call_twig_func(card.product_modification_reference) %}
		
		{% if breadcrumb_active_name %}
			
			<li class="breadcrumb-item">
				<a href="{{ path('Product:user.model', { url: card.url }) }}" class="text-muted"
						aria-label="{{ card.product_name }}"
						title="{{ card.product_name }}">
					{{ card.product_name }}
				</a>
			</li>
		
		{% else %}
			{% set breadcrumb_active_name = card.product_name %}
		{% endif %}
		
		
		<li class="breadcrumb-item active text-primary"
				aria-current="page"
				aria-label="{{ breadcrumb_active_name }}"
				title="{{ breadcrumb_active_name }}">
			{# Значение торгового предложения #}
			{{ breadcrumb_active_name }}
		</li>
	</ol>
</nav>
