{% trans_default_domain('user.order') %}

{# ---- ШАБЛОН ------------------------------------------------------------ #}
{% extends Template('/user/base.html.twig') %}

{% block title %}{{ 'user.page.index'|trans }}{% endblock %}

{# ---- CSS ------------------------------------------------------------ #}
 {% block stylesheets %}

     <meta name="robots" content="none">

     <link rel="preconnect" href="https://api-maps.yandex.ru">
     <link rel="preload"
           href="https://api-maps.yandex.ru/2.1/?apikey={{ MAPS_YANDEX_API }}&lang={{ app.request.locale|lower }}">
     <link href="/assets/css/original.min.css" rel="stylesheet">
     <link href="/assets//plugins/datepicker/datepicker.min.css" rel="stylesheet">
 {% endblock %}


{# ---- HEADER-БЛОК ------------------------------------------------------------ #}
{# {% block header %}
    {{ include(_self|replace({ "template.html.twig": "header.html.twig" })) }}
{% endblock %} #}


{# ---- LEFT-БЛОК ------------------------------------------------------------ #}
{# {% block left %} #}
{#   {% include '@Template/flowers/left.html.twig' %} #}
{# {% endblock %} #}

{% set isProducts = baks_basket.counter > 0 ? true : false %}

{# ---- КОНТЕНТ-БЛОК ------------------------------------------------------------ #}
{% block content %}

    {{ include(_self|replace({ "template.html.twig" : (baks_settings.device ?: 'pc') ~ "/content.html.twig" })) }}

    <div class="modal fade" tabindex="-1" id="modal_address" style="z-index: 9999;">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="d-flex justify-content-center w-100">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{# ---- FOOTER-БЛОК ------------------------------------------------------------ #}
{# {% block footer %}
    {{ include(_self|replace({ "template.html.twig": "footer.html.twig" })) }}
{% endblock %} #}

{% block javascript %}
<script nonce='{{ csp_nonce() }}' data-src="https://api-maps.yandex.ru/2.1/?apikey={{ MAPS_YANDEX_API }}&lang={{ app.request.locale|lower }}" class='lazy'></script>
<script nonce="{{ csp_nonce() }}" data-src="/assets/orders-order/orders_basket{{ app.environment != 'dev'?'.min' }}.js?v={{ version }}" class='lazy'></script>
<script nonce="{{ csp_nonce() }}" data-src="/assets/users-address/script{{ app.environment != 'dev'?'.min' }}.js?v={{ version }}" class='lazy'></script>
<script nonce="{{ csp_nonce() }}" data-src="/assets/plugins/datepicker/datepicker.min.js?v={{ version }}" defer class="lazy"></script>
{% endblock %}