<section class="container pb-5 pt-3">
    <div class="d-flex gap-3">

        <div class="w-25">
            {{ include(_self|replace({ "_includes/brand.html.twig" : "_form/filter_properties.html.twig" }), {filter, category_name:category.category_name}, with_context = false) }}

            {# БЛОК BEST_OFFERS #}
            {#            {{ render_one_best_seller(category.category_id) }} #}

            {#            {% include Template('/public/'~baks_settings.device~'/_includes/banners/ad_banner.html.twig') only %} #}

                        {{ include(_self|replace({ "brand.html.twig" : "banners/ad_banner.html.twig" })) }}
        </div>

        <div class="cards-box w-75">

            {#            {{ include(_self|replace({ "brand.html.twig" : "description.html.twig" }), { category }, with_context = false) }} #}

            <div class="d-flex gap-3 small align-items-center mb-3"><h1 class="text-uppercase h4 fw-bolder mb-0 me-3">
                    {{ category.category_name }}
                </h1></div>

            {# КАРТОЧКИ ПРОДУКТА #}
            {% if products.data is not empty %}
                <div class="row row-cols-4 gx-2 gy-5">

                    {% for product in products.data %}
                        <div class="col p-1 px-2">
                            {% include Template('@products-product/public/' ~baks_settings.device~ '/card_model_or_product.html.twig') with {card: product} only %}
                        </div>
                    {% endfor %}
                </div>

                {% include Template('/user/pc/includes/pagination.html.twig') with { 'pagination' : products } %}

            {% else %}

                <h2 class="fs-18 mb-0 text-uppercase fw-bold">
                    Товар по выбранным параметрам не найден
                </h2>

            {% endif %}
        </div>

    </div>
</section>