{# ---- ШАБЛОН ------------------------------------------------------------ #}
{% extends Template('/public/base.html.twig') %}

{#{% block title %}#}
{#    {{ card.productName }}#}
{#{% endblock %}#}


{# Минимальная цена #}
{% set card_min_price = user_profile_discount(card.minPrice) ?: card.minPrice %}

{#{% set card_max_price = user_profile_discount(card.maxPrice) ?: card.maxPrice %}#}
{#{% block description %}#}
{#    Купить по выгодной цене {{ card.productName }} от {{ card_min_price }}#}
{#{% endblock %}#}

{#{% set first_price = product_offers|sort((a, b) => a.price <=> b.price)|filter(v => v.price is not null)|first %}#}
{#{% set last_price = product_offers|sort((a, b) => a.price <=> b.price)|filter(v => v.price is not null)|last %}#}

{% if card.productSeoTitle %}
    {% set PRODUCT_NAME = card.productSeoTitle|trans({
        '%PRODUCT_NAME%' : card.productName,
        '%PRODUCT_OFFER%' : null,
        '%PRODUCT_VARIATION%' : null,
        '%PRODUCT_MOD%' : null,
    })|trim %}
{% else %}
    {% set PRODUCT_NAME = card.productName %}
{% endif %}


{% if card.productSeoDescription %}
    {% set PRODUCT_DESC = card.productSeoDescription|trans({
        '%PRODUCT_NAME%' : card.productName,
        '%PRODUCT_OFFER%' : '',
        '%PRODUCT_VARIATION%' : '',
        '%PRODUCT_MOD%' : '',
    })|trim %}
{% else %}
    {% set PRODUCT_DESC = card.productPreview|striptags %}
{% endif %}

{% if card.productSeoKeywords %}
    {% set PRODUCT_KEYWORDS = card.productSeoKeywords|trans({
        '%PRODUCT_NAME%' : card.productName,
        '%PRODUCT_OFFER%' : '',
        '%PRODUCT_VARIATION%' : '',
        '%PRODUCT_MOD%' : '',
    })|replace({ ' ,': null })|trim %}
{% else %}
    {% set PRODUCT_KEYWORDS = 'Купить по выгодной цене ' ~ card.productName ~ ' от ' ~ money(card_min_price) %}
{% endif %}


{% block title %}{{ PRODUCT_NAME }}{% endblock %}

{% block description %}{{ PRODUCT_DESC }}{% endblock %}

{% block keywords %}{{ PRODUCT_KEYWORDS }}{% endblock %}


{% block meta %}


    <link rel="canonical" href="{{ absolute_url(path('products-product:public.model', {
        category : card.categoryUrl,
        url : card.productUrl
    })) }}">

    {% set root_image = card.getProductImagesSortByRoot|first %}
    {% set image_path = '/assets/img/blank.svg' %}

    {% if root_image.product_img_ext is defined and root_image.product_img_ext is not null %}
        {% set image_path = cdn_image_path(root_image.product_img, root_image.product_img_ext, root_image.product_img_cdn) %}
    {% endif %}



    <meta property="og:locale" content="{{ app.request.getLocale() }}_{{ app.request.getLocale()|upper }}">
    <meta property="og:type" content="product">
    <meta property="og:site_name" content="{{ app.request.host }}">
    <meta property="og:title" content="{{ PRODUCT_NAME }}">
    <meta property="og:description"
          content="Купить по выгодной цене {{ card.productName }} от {{ money(card_min_price) }}">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image"
          content="{{ absolute_url( image_path ) }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@https://{{ app.request.host }}">
    <meta name="twitter:title" content="{{ PRODUCT_NAME }}">
    <meta name="twitter:description"
          content="Купить по выгодной цене {{ card.productName }} от {{ money(card_min_price) }}">
    <meta name="twitter:image:src"
          content="{{ absolute_url( image_path ) }}">


    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "{{ card.productName }}",
			"image": "{{ absolute_url( image_path ) }}",
			"description": "Купить по выгодной цене {{ card.productName }} {{ card_min_price  is not empty ? 'от '~ money(card_min_price) }}",
			"brand": {
				"@type": "Brand",
				"name": "{{ card.categoryName }}"
			},
			"offers": {
			"@type": "AggregateOffer",
			"url": "{{ app.request.uri }}",
			"priceCurrency": "RUB",

        {% if card_min_price is not empty %}
                "lowPrice": "{{ card_min_price }}",
            {% endif %}

        "offerCount": "{{ card.productOffers|length }}"
		  }
		}


    </script>
{% endblock %}







{# ---- CSS ------------------------------------------------------------ #}
{#  {% block stylesheets %}

	 <style>

	 </style>

 {% endblock %} #}

{# ---- HEADER-БЛОК ------------------------------------------------------------ #}
{# {% block header %}
    {{ include(_self|replace({ "template.html.twig": "header.html.twig" })) }}
{% endblock %} #}


{# ---- LEFT-БЛОК ------------------------------------------------------------ #}
{# {% block left %} #}
{#   {% include '@Template/flowers/left.html.twig' %} #}
{# {% endblock %} #}


{# ---- КОНТЕНТ-БЛОК ------------------------------------------------------------ #}
{% block content %}

    {#	{{ dd(card) }}#}

    {% set arr_property = card.categorySectionField %}
    {% set product_offers = card.productOffers %}


    {% set current_offer = product_offers|first %}
    {% set name_offer = current_offer.offer_name %}
    {% set name_variation = current_offer.variation_name %}
    {% set name_modification = current_offer.modification_name %}


    {{ include(_self|replace({ "template.html.twig":baks_settings.device~"/content.html.twig" })) }}
    <div style="display: none !important;"
         class='accordion accordion-button btn-link p-0 collapsed tooltip bs-tooltip-bottom bs-tooltip-start bs-tooltip-end alert alert-warning rounded-4 mt-3'>
    </div>

{% endblock %}




{#{% block javascript %}#}
{#<script async data-src="/assets/order_orders/modal_basket{{ app.environment != 'dev'?'.min' }}.js" class='lazy'></script>#}
{#<script nonce="{{ csp_nonce() }}">#}
{#document.querySelectorAll('.img-product').forEach((el) => el.addEventListener('click', () => document.getElementById('img-product').style.backgroundImage = el.style.backgroundImage ));#}
{#</script>#}

{#{% endblock %}#}


{% block javascript %}
<script nonce='{{ csp_nonce() }}'  data-src='/assets/plugins/nice-select2/nice-select2.min.js?v={{ version }}' class='lazy'></script>

{#<script nonce="{{ csp_nonce() }}" data-src="/assets/blackdragon/js/scroll.js" class="lazy"></script>#}
{#<script nonce="{{ csp_nonce() }}" data-src="/assets/blackdragon/js/clickOnCarousel.js" class="lazy"></script>#}

{# Для корзины #}
<script nonce="{{ csp_nonce() }}" data-src="/assets/orders-order/orders_basket.min.js?v={{ version }}" class='lazy'></script>
<script nonce="{{ csp_nonce() }}" data-src="/assets/orders-order/modal_basket.min.js?v={{ version }}" class='lazy'></script>
<script nonce="{{ csp_nonce() }}" data-src="/assets/orders-order/basket_items.min.js?v={{ version }}" class='lazy'></script>
{% endblock %}


