{% trans_default_domain 'user.reg' %}

{# ---- ШАБЛОН ------------------------------------------------------------ #}
{% extends Template('user/base.html.twig') %}

{% block title %}{{ 'user.page'|trans }}{% endblock %}


{# ---- CSS ------------------------------------------------------------ #}
{# {% block stylesheets %} #}
{#    <link href="{{ path('user_posts_home_css') }}" rel="stylesheet"> #}
{# {% endblock %} #}

{# ---- HEADER-БЛОК ------------------------------------------------------------ #}
{# {% block header %}
    {{ include(_self|replace({ "template.html.twig": "header.html.twig" })) }}
{% endblock %} #}


{# ---- LEFT-БЛОК ------------------------------------------------------------ #}
{# {% block left %} #}
{#   {% include '@Template/flowers/left.html.twig' %} #}
{# {% endblock %} #}


{# ---- КОНТЕНТ-БЛОК ------------------------------------------------------------ #}
{% block content %}
	
	{{ include(_self|replace({ "template.html.twig" : baks_settings.device~"/content.html.twig" })) }}
	
	{# CSS #}
	{# <div style="display: none !important;" class="ms-3 dropdown-menu dropright w-400px menu-content d-flex align-items-center px-3 symbol symbol-50px me-5 symbol-circle symbol-label flex-column fw-bolder fs-5 text-dark badge badge-light-success  fs-8 px-2 py-1 ms-2 fw-bold text-muted text-hover-primary fs-7 dropdown-divider dropdown-item p-1 rounded bg-light  position-absolute end-0 me-2 px-4 float-start text-hover-dark"></div> #}
{% endblock %}


{# ---- FOOTER-БЛОК ------------------------------------------------------------ #}
{# {% block footer %}
    {{ include(_self|replace({ "template.html.twig": "footer.html.twig" })) }}
{% endblock %} #}


 {% block javascript %}

 {% if CAPTCHA is defined %}
 <script nonce="{{ csp_nonce() }}" class="lazy" type="module" data-src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.9/widget.module.min.js"></script>
{% endif %}

{#<script nonce="{{ csp_nonce() }}">

        let btnLogin = document.getElementById('registration_form_registration');
        btnLogin.disabled = true;
        btnLogin.type = 'button'

        let progress = document.getElementById('registration_form_registration-progress');
        progress.classList.remove('d-none');


 let regCaptcha = document.getElementById('registration-captcha');
        regCaptcha.classList.remove('d-none');

        function myCallback() {
            btnLogin.disabled = false;
            btnLogin.type = 'submit';


            progress.classList.add('d-none');
            regCaptcha.classList.add('d-none');
        }

        function myCallbackError(error) {
            console.log("Error " + error);
        }

    </script>#}

 {% endblock %}

