{% trans_default_domain 'user.restore' %}


{{ form_start(form, { attr: { class: 'd-flex flex-column align-items-end p-4 border shadow rounded-3 w-100' } }) }}

	<div class="d-flex flex-column gap-4 w-100 small">
		
		<div class="w-100 d-flex flex-column gap-2">
			{{ form_row(form.email, {
				label: 'user.form.label.email'|trans
			}) }}
		</div>
		

		<div class="w-100">
			
			{% if CAPTCHA is defined %}
				<div id="registration-captcha"
						class="frc-captcha position-fixed end-0 bottom-0 m-5 d-none bg-body z-index-5"
						data-sitekey="{# {{ CAPTCHA }} #}"
						data-start="auto"
						data-callback="myCallback"
						data-lang="ru"
				></div>
			{% endif %}
			
			{{ form_row(form.restore, {
				label: '<span>'~ 'user.btn.restore'|trans() ~'</span>
				<span id="'~form.restore.vars.id~'-progress" class="spinner-border spinner-border-sm d-none"></span>
			',
				attr: { class : 'btn btn-lg btn-danger w-100 rounded-3 small text-uppercase fw-bolder' }
			}) }}
		</div>
	
	</div>

</form>





	
	{{ form_end(form) }}


