{% trans_default_domain('user.status') %}

{% for order in orders %}

    <div class="d-flex flex-column border justify-content-between rounded-3 gap-3 py-3 px-3 mb-2">

        {% set products = order.order_products|json_decode %}

        {% set priceTotal = null %}
        {% set productTotal = null %}
        {% set productCurrency = null %}

        {# ИНФОРМАЦИЯ О ПРОДУКТАХ В ЗАКАЗЕ #}
        {% for product in products %}

            {% if loop.first == true %}

                <div class="d-flex flex-column align-items-start mb-0 gap-2">

                    <span class="fs-12 text-uppercase fw-bold"> Заказ № {{ order.order_number }} | {{ ('public_' ~order.order_status)|trans({}, 'status.order') }}</span>
                    <span class="fs-12 text-secondary">{{ order.payment_name }} | {{ order.delivery_name }}</span>
                </div>

            {% endif %}

            <div class="border-bottom py-2">

                <div class="d-flex align-items-center gap-3">

                    {# Обложка  #}
                    {% if product.product_image_ext is defined and product.product_image_ext is not null %}
                        {% set image_path = cdn_image_path(product.product_image, product.product_image_ext, product.product_image_cdn) %}
                    {% endif %}

                    <a href="{{ path('products-product:public.detail', {
                        category : product.category_url ,
                        url : product.product_url ,
                        offer: product.product_offer_value,
                        variation: product.product_variation_value,
                        modification: product.product_modification_value
                    }) }}"
                       class="icon flex-shrink-0 rounded-4 mb-2 lazy bg-contain p-1 m-0"
                       data-bg="{{ image_path }}"
                       style="width: 75px; height: 75px;">
                    </a>

                    <div class="w-100">

                        <div>
                            <a href="{{ path('products-product:public.detail', {
                                category : product.category_url,
                                url : product.product_url,
                                offer: product.product_offer_value,
                                variation: product.product_variation_value,
                                modification: product.product_modification_value
                            }) }}"

                               class="fs-14 text-black fw-bold text-uppercase mb-0 list-group-item best-offers-item">
                                {{ product.product_name }}

                                {{ product.product_variation_value|call_twig_func(product.product_variation_reference~'_render') ~
                                product.product_modification_value|call_twig_func(product.product_modification_reference~'_render') }}

                                {{ product.product_offer_value|call_twig_func(product.product_offer_reference~'_render') }}
                            </a>

                            <p class="text-secondary mb-3" style="font-size: 12px;">
                                Артикул: {{ product.product_article }}
                            </p>

                            {% if order.order_status == 'completed' %}
                                {{ include (_self|replace({ "products.html.twig" : "docs.html.twig" }), { 'order_id': order.order_id, 'product': product }, with_context = false) }}
                            {% endif %}

                        </div>

                        <div class="d-flex justify-content-end gap-5">

                            {# ЦЕНА #}
                            <p class="mb-0 fw-bold">
                                {{ money(product.product_price, product.product_price_currency) }}
                            </p>

                            {# КОЛИЧЕСТВО #}
                            <p class="mb-0 fw-bold">
                                {{ product.product_total }} шт.
                            </p>
                        </div>

                    </div>

                </div>

                {% set priceTotal = priceTotal + (product.product_price * product.product_total) %}
                {% set productTotal = productTotal + product.product_total %}
                {% set productCurrency = product.product_price_currency %}

            </div>

        {% endfor %}

        <div class="d-flex align-items-center justify-content-between">

            <p class="fs-18 mb-0 fw-bold">
                Итого:
            </p>

            <p class="fs-18 mb-0 fw-bold">
                {{ money(priceTotal, productCurrency) }}
            </p>

            <p class="fs-18 mb-0 fw-bold">
                {{ productTotal }} шт.
            </p>

        </div>

    </div>

{% endfor %}