{# @var card \BaksDev\Orders\Order\Repository\ProductUserBasket\ProductUserBasketResult #}
{# @var Price \BaksDev\Reference\Money\Type\Money #}

{% for product in  form.product %}

    {% set card = product.vars.data.card %}

    {% set Price = card.productPrice %}

    <div class="d-flex border-top {{ loop.last ? 'border-bottom' : '' }}  justify-content-between gap-3 py-3">

        {# Обложка  #}
        {% set image_path = '/assets/img/blank.svg' %}

        {% if card.productImage is defined and card.productImage is not null %}
            {% set image_path = cdn_image_path(card.productImage, card.productImageExt, card.productImageCdn) %}
        {% endif %}

        <a href="{{ path('products-product:public.detail', {
            category : card.categoryUrl ,
            url : card.productUrl ,
            offer: card.productOfferValue,
            variation: card.productVariationValue,
            modification: card.productModificationValue,
            postfix: (card.productModificationPostfix ?: card.productVariationPostfix ?: card.productOfferPostfix ?: null )|replace({ '/': '-' }),
        }) }}"
           class="icon rounded-4 mb-2 lazy bg-contain p-1 m-0 align-items-start"
           data-bg="{{ image_path }}"
           style="width: 100px; height: 100px;">
        </a>

        <div class="d-flex flex-column w-75">

            <div class="d-flex align-items-center justify-content-between gap-3">
                {# Полное название продукта #}
                <a class="fs-14 text-black fw-bold text-uppercase mb-0 list-group-item best-offers-item"
                   href="{{ path('products-product:public.detail', {
                       category : card.categoryUrl ,
                       url : card.productUrl ,
                       offer: card.productOfferValue,
                       variation: card.productVariationValue,
                       modification: card.productModificationValue,
                       postfix: (card.productModificationPostfix ?: card.productVariationPostfix ?: card.productOfferPostfix ?: null )|replace({ '/': '-' }),
                   }) }}">

                    {{ card.productName }}

                    {{ card.productVariationValue|call_twig_func(card.productVariationReference~'_render') ~
                    card.productModificationValue|call_twig_func(card.productModificationReference~'_render') }}

                    {{ card.productOfferValue|call_twig_func(card.productOfferReference~'_render') }}

                    {{ (card.productModificationPostfix ?: card.productVariationPostfix ?: card.productOfferPostfix ?: null ) }}
                </a>

            </div>

            {# Артикул #}
            <p class="text-secondary mb-0" style="font-size: 12px;">
                Артикул: {{ card.productArticle }}
            </p>

            {# ЦЕНА #}
            <p class="mb-0 fw-bold" style="width:90px;">
                {{ money(Price, card.productCurrency) }}
            </p>

            <div class="lh-1 text-end mb-2">

                <a href='{{ path('orders-order:public.delete', {
                    product : card.productEvent ,
                    offer: card.productOfferUid,
                    variation: card.productVariationUid,
                    modification: card.productModificationUid
                }) }}'
                   class="btn btn-sm btn-link text-dark text-decoration-underline small fw-medium delete-product"
                   data-id='item_{{ product.vars.id }}'>
                    <span class="small">Удалить</span>
                </a>
            </div>

            <div class="d-flex align-items-center justify-content-between">

                {# Управление количеством продукта в корзине #}
                <div class="d-flex align-items-center justify-content-between gap-2 counter-container"
                     style="width: 115px;">
                    <button type="button"
                            class="btn btn-sm minus"
                            data-id='{{ product.price.total.vars.id }}'
                            aria-label="Уменьшить количество">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                             class="bi bi-dash-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"></path>
                        </svg>
                    </button>

                    {{ form_widget(product.price.total, {
                        label: false,
                        attr: {
                            class : 'border py-2 px-4 rounded-5 total',
                            style: 'width: 60px;',
                            'data-max' : card.productQuantity,
                            'data-min': card.categoryMinimal,
                            'data-price' : ''~Price.value * 100,
                            'data-discount' : '',
                            'data-currency' : card.productCurrency|upper,
                        } } ) }}

                    <button type="button" class="btn btn-sm plus"
                            aria-label="Увеличить количество"
                            data-id='{{ product.price.total.vars.id }}'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                             class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                        </svg>
                    </button>
                </div>

                {% set summ = (product.price.vars.data.total * Price.value) * 100 %}

                <strong id='summ_{{ product.price.total.vars.id }}'
                        data-price='{{ Price.value * 100 }}'
                        data-currency='{{ card.productCurrency|upper }}'>

                    {{ money(summ, card.productCurrency) }}
                </strong>

            </div>

        </div>

    </div>

{% endfor %}