
<tr id='item_'>
    <td>
        <div class="row">
            <div class="col-3">

                {# Обложка  #}
                {% set image_path = '/assets/img/blank.svg' %}

                {% if card.product_image_ext is defined and card.product_image_ext is not null %}
                    {% set img_host = card.product_images_cdn == true  ? CDN_HOST : '' %}
                    {% set img_dir = card.product_image %}
                    {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ card.product_image_ext %}
                    {% set image_path = img_host ~ img_dir ~ img_file %}
                {% endif %}

                <a href="{{ path('products-product:user.detail', {
                    category: card.category_url,
                    url: card.product_url,
                    offer: card.product_offer_value,
                    variation: card.product_variation_value,
                    modification: card.product_modification_value
                }) }}" class="icon rounded-4 mb-2 lazy bg-contain p-1"
                   data-bg="{{ image_path }}"
                   style="width: 75px; height: 75px;"
                ></a>

            </div>

            <div class="col align-self-center">

                <a href="{{ path('products-product:user.detail', {
                    category: card.category_url,
                    url: card.product_url,
                    offer: card.product_offer_value,
                    variation: card.product_variation_value,
                    modification: card.product_modification_value
                }) }}" class="text-dark me-3 text-uppercase text-decoration-none">

                    {{ card.product_trans_name }}U
                </a>
            </div>
        </div>

    </td>

    <td class="align-middle text-center">
        {%  if card.product_quantity == 0 %}
            Нет
        {% elseif card.product_quantity < 20 %}
            < 20
        {% else %}
            > 20
        {% endif %}
    </td>

    <td class="align-middle text-center">
        {{ card.product_price }}
    </td>

    <td class="align-middle text-center">
        {{ include(_self|replace({ "card.html.twig": "form/big_button.html.twig" }), { form : forms[card.product_invariable_id] }) }}
    </td>

</tr>