{# ПЕЧАТЬ #}

{% set organization = 'ИП Муха Сергей Сергеевич' %}
{% set organization_transcript = 'Муха C.C.' %}

{% set money =  0 %}

{% set products = order.order_products|json_decode %}

{% for product in products %}

    {% set money = (product.product_total * product.product_price) + money %}

{% endfor %}


<div class=" {{ app.request.headers.get('X-Requested-With') is not null ? 'd-none' }} d-print-block p-0"
     style="width: 550px">


    {# <img width="15" src="./ПРИХОДНЫЙ КАССОВЫЙ ОРДЕР_files/cut.png"> #}

    <div class="d-flex justify-content-between gap-2">
        <div class="w-75 text-end">
            <div id="left_col">
                <div class="small text-end mb-3">Унифицированная форма КО-1</div>
                <div class="small mb-3">Утверждена постановлением Госкомстата России от 18.08.98 № 88</div>

                <div class="d-flex gap-3 mb-3">

                    <div class="w-75 text-center" id="org">
                        <div class="border-bottom border-dark">{{ organization }}</div>
                        <div class="small"><small>организация</small></div>

                        <div class="border-bottom">&nbsp;</div>
                        <div class="small"><small>структурное подразделение</small></div>
                    </div>

                    <div class="w-75">

                        <div class="d-flex align-items-end w-100 gap-3">
                            <div class="w-100 text-end d-flex flex-column">
                                <span>Форма по ОКУД</span>
                                <span>по ОКПО</span>
                                <span>&nbsp;</span>
                            </div>

                            <div class="w-100 text-end">
                                <div class="border border-dark text-center border-bottom-0">
                                    <span>Коды</span>
                                </div>

                                <div class="d-flex flex-column border border-2 border-dark text-center">
                                    <strong class="border-bottom border-1 border-dark">0310001</strong>
                                    <span class="border-bottom border-1 border-dark">30308221</span>
                                    <span>&nbsp;</span>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div class="mb-3">
                    <h1 class="w-100 h4 text-start">ПРИХОДНЫЙ КАССОВЫЙ ОРДЕР</h1>

                    <div class="d-flex justify-content-end w-100 mb-3">

                        <div class="text-end">
                            <div class="border border-dark text-center border-bottom-0 px-3">
                                <span>Номер документа</span>
                            </div>

                            <div class="d-flex flex-column border border-2 border-dark text-center">
                                <strong class="border-bottom border-1 border-dark">{{ order.order_number }}</strong>
                            </div>
                        </div>

                        <div class="text-end">
                            <div class="border border-dark text-center border-bottom-0 border-start-0 px-3">
                                <span>Дата составления</span>
                            </div>

                            <div class="d-flex flex-column border border-2 border-dark text-center border-start-0">
                                <strong class="border-bottom border-1 border-dark">
                                    {{ date('now')|date('d.m.Y') }}
                                </strong>
                            </div>
                        </div>

                    </div>


                    <table class="small mb-3">
                        <tbody class="small">
                        <tr>
                            <th rowspan="2" class="border text-center">Дебет</th>
                            <th colspan="4" class="border text-center">Кредит</th>
                            <th rowspan="2" class="border text-center">Сумма, руб. коп.</th>
                            <th rowspan="2" class="border text-center">Код целевого назначения</th>
                            <th rowspan="2" class="border text-center" style="min-width: 50px;">&nbsp;</th>
                        </tr>

                        <tr>
                            <th class="border text-center" style="min-width: 50px;">&nbsp;</th>
                            <th class="border text-center w-25">код структурного подразделения</th>
                            <th class="border text-center w-25">корреспонди рующий счет, субсчет</th>
                            <th class="border text-center w-25">код аналитического учета</th>
                        </tr>

                        <tr class="border-2">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>{{ money(money) }}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    {# {{ dd(money(money) ) }} #}

                    {# {{ dd(money) }} #}


                    <div class="w-100 border-bottom text-start mb-3">Принято от:</div>
                    <div class="w-100 border-bottom text-start">Основание:</div>
                    <div class="w-100 border-bottom text-start mb-3">&nbsp;</div>
                    <div class="w-100 text-start">Сумма: {{ money(money) }} ( {{ money_word(money / 100) }} )</div>


                    <div class="w-100 text-start mb-3">В том числе: НДС (Без НДС) 0-00 РУБ</div>

                    <div class="w-100 border-bottom text-start mb-3">Приложение:</div>

                    <div class="d-flex justify-content-between gap-3 align-content-start">
                        <div class="fw-bolder w-100 text-start">Главный бухгалтер</div>

                        <div class="w-75 text-center">
                            <div class="border-bottom">&nbsp;</div>
                            <div class="small"><small>подпись</small></div>
                        </div>

                        <div class="w-100 text-center">
                            <div class="border-bottom">{{ organization_transcript }}</div>
                            <div class="small"><small>расшифровка подписи</small></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between gap-3 align-content-start">
                        <div class="fw-bolder w-100 text-start">Получил кассир</div>

                        <div class="w-75 text-center">
                            <div class="border-bottom">&nbsp;</div>
                            <div class="small"><small>подпись</small></div>
                        </div>

                        <div class="w-100 text-center">
                            <div class="border-bottom">{{ organization_transcript }}</div>
                            <div class="small"><small>расшифровка подписи</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-right: 1px dashed;">&nbsp;</div>

        <div class="w-25" style="min-width: 250px;">

            <div class="text-center mb-3">
                <div class="border-bottom fw-bolder">{{ organization }}</div>
                <div class="small mb-3">организация</div>

                <h1 class="h4 mb-0">КВИТАНЦИЯ</h1>
                <div class="fw-bolder text-center">к приходному кассовому ордеру</div>

                <div class="date">
                    № <strong>{{ order.order_number }}</strong>
                    от <strong>{{ order.order_data|date('d.m.Y') }}</strong>
                </div>
            </div>

            <div class="mb-3">
                <div class="mb-5">Принято от</div>
                <div class="mb-5">Основание</div>

                <div class="d-flex justify-content-between mb-3">
                    <div class="w-100">Сумма</div>
                    <div class="text-center w-50">
                        <div class="border-bottom fw-bolder" style="font-size:17px;">{{ money(money) }}</div>
                        <div class="small"><small>цифрами</small></div>
                    </div>
                </div>

                <div class="text-center w-100">
                    <div class="border-bottom small">{{ money_word(money / 100) }}</div>
                    <div class="small"><small>прописью</small></div>

                </div>
            </div>

            <div class="d-flex justify-content-between mb-3">
                <div class="w-100">&nbsp;</div>
                <div class="text-center w-75">
                    <div class="border-bottom fw-bolder">{{ date('now')|format_datetime(pattern="d MMMM Y") }}</div>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-between">

                <div class="mb-5 small"><small>М.П. (штампа)</small></div>


                <div class="w-100 fw-bolder">Главный бухгалтер</div>
                <div class="w-100 d-flex justify-content-between gap-3 mb-3">

                    <div class="w-100">
                        <div class="border-bottom">&nbsp;</div>
                        <div class="small"><small>подпись</small></div>
                    </div>

                    <div class="w-100">
                        <div class="border-bottom">{{ organization_transcript }}</div>
                        <div class="small"><small>расшифровка подписи</small></div>
                    </div>
                </div>


                <div class="w-100 fw-bolder">Кассир</div>
                <div class="w-100 d-flex justify-content-between gap-3 mb-3">

                    <div class="w-100">
                        <div class="border-bottom">&nbsp;</div>
                        <div class="small"><small>подпись</small></div>
                    </div>

                    <div class="w-100">
                        <div class="border-bottom">{{ organization_transcript }}</div>
                        <div class="small"><small>расшифровка подписи</small></div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

{% if app.request.headers.get('X-Requested-With') is not null %}
    <div class="modal-dialog modal-dialog-centered" style="max-width: 620px;">

        <div class="modal-content p-3 border-bottom border-5 border-primary d-print-none">

            <div class="modal-header">
                <h5 class="modal-title">
                    {{ 'Приходный кассовый ордер'|trans }}
                </h5>
            </div>

            <div class="modal-body">
                <h4>#{{ order.order_number }} от {{ order.order_data|date('d.m.Y') }}</h4>
            </div>

            <div class="modal-footer">

                <div class="mt-3 gap-3 d-flex">
                    {# Отмена #}
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        {{ 'btn.cancel'|trans({}, 'core.btn') }}
                    </button>

                    {# Печать #}
                    <button id="print_all" type="button" class="btn btn-primary">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-printer-fill"
                             viewBox="0 0 16 16">
                            <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                            <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        </svg>

                        Печать
                    </button>

                </div>
            </div>

        </div>
    </div>
{% endif %}




